﻿@model IEnumerable<CommonLayer.IzlaznaFakturaDTO>

@{
    ViewBag.Title = "ListaIzlaznihFaktura";
}

<h2>ListaIzlaznihFaktura</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NazivFakture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datumfakturisanja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datumprometa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iznos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brojzakljucka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roba)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Relacija)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valuta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Placeno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Predmet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nazivklijenta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    using (Html.BeginForm("DeleteInvoice", "IzlaznaFaktura", new { id = item.Id }))
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NazivFakture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datumfakturisanja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datumprometa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Iznos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brojzakljucka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Roba)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Relacija)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valuta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Placeno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Predmet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nazivklijenta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            <input type="submit" value="Delete" onclick="return confirm('Da li zelite da obrisete klijenta  @item.NazivFakture')" />
        </td>
    </tr>
    }
}
</table>
