﻿@model CommonLayer.BookDTO

@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/table1.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <title>PARTNERI</title>
</head>
<body>
    <h2 style="text-align:center; padding-right:210px; font-family:Calibri;">KREIRAJ NALOG</h2>

    <div class="container" style="padding-left:400px;">


        @using (Html.BeginForm("AddBook11", "Book", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ObjectBook, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Predmet..." } })
                        @Html.ValidationMessageFor(model => model.ObjectBook, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Customer, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Komitent..." } })
                        @Html.ValidationMessageFor(model => model.Customer, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PlaceOfLoading, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Mesto utovara..." } })
                        @Html.ValidationMessageFor(model => model.PlaceOfLoading, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DateOfLoading, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;", })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DateOfLoading, new { htmlAttributes = new { @class = "form-control", @type = "date", @style = "font-family:Calibri;", } })
                        @Html.ValidationMessageFor(model => model.DateOfLoading, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PlaceOfUnloading, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Mesto istovara..." } })
                        @Html.ValidationMessageFor(model => model.PlaceOfUnloading, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContainerTruck, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Kontejner/kamion..." } })
                        @Html.ValidationMessageFor(model => model.ContainerTruck, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Goods, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Roba..." } })
                        @Html.ValidationMessageFor(model => model.Goods, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.QuantityOfGoods, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Kolicina robe..." } })
                        @Html.ValidationMessageFor(model => model.QuantityOfGoods, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>


                <div id="div01" class="form-group">
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.AsaBookingNumberId, new SelectList(Model.AsaCollection, "ASABookingNumberId", "AsaNumber"), "Asa", new { @id = "myId", @class = "klasa", @style = "font-family:Calibri;", onchange = "this.form.submit();" })
                        <a style="padding-left:10px;" href="@Url.Action("ASAList11", "AsaBookingNumber")">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                        <button type="button" style="width:30px; height:30px; color:white; background-color:red;" onclick="location.href='@Url.Action("ASAList", "AsaBookingNumber")'">+</button>
                    </div>
                </div>

                <div id="div02" class="form-group">
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.StandardBookingNumberId, new SelectList(Model.StandardCollection, "StandardBookingNumberId", "StandardNumber"), "Standard", new { @id = "myId01", @class = "klasa", @style = "font-family:Calibri;", onchange = "this.form.submit();" })
                        <a style="padding-left:10px;" href="@Url.Action("StandardList11", "StandardBookingNumber")">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                        <button type="button" style="width:30px; height:30px; color:white; background-color:red;" onclick="location.href='@Url.Action("StandardList11", "StandardBookingNumber")'">+</button>
                    </div>
                </div>

                <script>
                    $(document).ready(function () {
                        var div2 = document.getElementById("div02");
                        var div1 = document.getElementById("div01");
                        var id = document.getElementById("myId");
                        var id = document.getElementById("myId01");
                        if ($("#myId").click(function () {
                            div2.style.visibility = 'hidden';
                        }));

                        if ($("#myId01").click(function () {
                            div1.style.visibility = 'hidden';
                        }));
                    });
                </script>




                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" style="font-family:Calibri;" onclick="location.href='@Url.Action("Index11", "Book")'">Nazad</button>
                        <input type="submit" style="font-family:Calibri;" value="Sačuvaj" class="create-btn" />
                    </div>
                </div>
            </div>
        }
    </div>



</body>
</html>
