﻿@model CommonLayer.BookDTO

@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
  
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/table1.css" rel="stylesheet" />
    <title>PARTNERI</title>
</head>
<body>
    <h2 style="text-align:center; padding-right:280px; font-family:Calibri">IZMENI PODATKE O NALOGU</h2>
    <div class="container" style="padding-left:350px;">


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BookId, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                    @Html.ValidationMessageFor(model => model.BookId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ObjectBook, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ObjectBook, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                    @Html.ValidationMessageFor(model => model.ObjectBook, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Customer, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Customer, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                    @Html.ValidationMessageFor(model => model.Customer, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PlaceOfLoading, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PlaceOfLoading, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                    @Html.ValidationMessageFor(model => model.PlaceOfLoading, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateOfLoading, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateOfLoading, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                    @Html.ValidationMessageFor(model => model.DateOfLoading, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PlaceOfUnloading, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PlaceOfUnloading, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                    @Html.ValidationMessageFor(model => model.PlaceOfUnloading, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ContainerTruck, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ContainerTruck, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                    @Html.ValidationMessageFor(model => model.ContainerTruck, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Goods, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Goods, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                    @Html.ValidationMessageFor(model => model.Goods, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.QuantityOfGoods, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.QuantityOfGoods, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                    @Html.ValidationMessageFor(model => model.QuantityOfGoods, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BookingNumber, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BookingNumber, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                    @Html.ValidationMessageFor(model => model.BookingNumber, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" style="font-family:Calibri;" onclick="location.href='@Url.Action("Index", "Book")'">Nazad</button>
                    <input type="submit" style="font-family:Calibri;" value="Sačuvaj" class="create-btn" />
                </div>
            </div>
        </div>
        }

    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>

