﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<CommonLayer.BookDTO>

@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" initial-scale="1.0" />
    <link href="~/Style/cost.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/search2.js"></script>

    <title>KNJIGA NALOGA</title>
</head>
<body>
    <div id="login-div">
        <h2 style="font-family:Calibri;margin-top:50px;">KNJIGA NALOGA</h2>
        <br />
        @using (Html.BeginForm("Index", "Book", FormMethod.Get))
        {

            <div class="dugmici" style="float:right;padding-right:70px;">
                <button type="button" style="width:30px; height:30px;border-radius:30px; color:white; background-color:#64B2D4;" onclick="location.href='@Url.Action("ASAList", "AsaBookingNumber")'">A</button>
                <button type="button" style="width:30px; height:30px;border-radius:30px; color:white; background-color:#64B2D4;" onclick="location.href='@Url.Action("StandardList", "StandardBookingNumber")'">S</button>
            </div>
            <div align="right" style="margin-bottom: 1em;">
                <input type="text" id="myInput" class="form-control" style="font-family:Calibri;" onkeyup="myFunction()" placeholder="Pretraži..">
            </div>
        }

        <table class="table-responsive" id="myTable">
            <tr style="border:1px groove; text-align: center">
                <th class="table-bordered1" style="font-family:Calibri">
                    @Html.ActionLink("PREDMET", "Index", new { sortBy = ViewBag.SortBookObjectParametar }, new { @style = "color:black;text-decoration:none;" })
                </th>
                <th class="table-bordered2" style="font-family:Calibri;width:200px;">
                    @Html.DisplayNameFor(model => model.First().Customer)
                </th>
                @*<th class="table-bordered2" style="font-family:Calibri">
                        @Html.DisplayNameFor(model => model.First().ClientName)
                    </th>*@
                <th class="table-bordered2" style="font-family:Calibri;width:180px;">
                    @Html.DisplayNameFor(model => model.First().PlaceOfLoading)
                </th>
                <th class="table-bordered1" style="font-family:Calibri">
                    @Html.ActionLink("DATUM UTOVARA", "Index", new { sortBy = ViewBag.SortDateParametar }, new { @style = "color:black;text-decoration:none;" })
                    @*@Html.DisplayNameFor(model => model.First().DateOfLoading.ToString("MM/dd/yyyy."))*@
                </th>
                <th class="table-bordered2" style="font-family:Calibri;width:180px;">
                    @Html.DisplayNameFor(model => model.First().PlaceOfUnloading)
                </th>
                <th class="table-bordered1" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().ContainerTruck)
                </th>
                <th class="table-bordered2" style="font-family:Calibri;width:150px;">
                    @Html.DisplayNameFor(model => model.First().Goods)
                </th>
                <th class="table-bordered1" style="font-family:Calibri;width:80px;">
                    @Html.DisplayNameFor(model => model.First().QuantityOfGoods)
                </th>
                <th class="table-bordered2" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().BookingNumber)
                </th>
                <th class="table-bordered1" style="font-family:Calibri;width:40px;">
                    @Html.DisplayNameFor(model => model.First().InputInvoice)
                </th>
                @*<th class="table-bordered2" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().PriceOfInputInvoice)
                </th>*@
                <th class="table-bordered1" style="font-family:Calibri;width:40px;">
                    @Html.DisplayNameFor(model => model.First().OutgoingInvoice)
                </th>
                @*<th class="table-bordered2" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().AsaPrice)
                </th>*@
                @*<th class="table-bordered1" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().Difference)
                </th>*@
                <th class="table-bordered1"></th>
                @foreach (var item in Model)
                {
                    using (Html.BeginForm("DeleteBook", "Book", new { id = item.BookId }))
                    {
                    <tr>
                        <td class="table-bordered3" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.ObjectBook)
                        </td>
                        <td class="table-bordered3" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.Customer)
                        </td>
                        @*<td class="table-bordered" style="font-family:Calibri">
                                @Html.DisplayFor(modelItem => item.ClientName)
                            </td>*@
                        <td class="table-bordered" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.PlaceOfLoading)
                        </td>
                        <td class="table-bordered3" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.DateOfLoading)
                        </td>
                        <td class="table-bordered" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.PlaceOfUnloading)
                        </td>
                        <td class="table-bordered3" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.ContainerTruck)
                        </td>
                        <td class="table-bordered" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.Goods)
                        </td>
                        <td class="table-bordered3" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.QuantityOfGoods)
                        </td>
                        <td class="table-bordered" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.BookingNumber)
                        </td>
                        <td class="table-bordered3" style="font-family:Calibri">
                            @Html.ActionLink("UF", "ShowTableOfInvoices", new { id = item.BookId })
                        </td>
                        @*<td class="table-bordered" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.PriceOfInputInvoice)
                        </td>*@
                        <td class="table-bordered3" style="font-family:Calibri">
                            @Html.ActionLink("IF", "OutInvoicesList", new { id = item.BookId })
                        </td>
                        @*<td class="table-bordered" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.AsaPrice)
                        </td>
                        <td class="table-bordered3" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.Difference)
                        </td>*@
                        <td class="table-bordered3" id="bla" style="font-family:Calibri">
                            <a href="@Url.Action("Edit", "Book", new { id = item.BookId })">
                                <img src="~/Images/edit.png" style="float:left;padding-left:5px;" />
                            </a>
                            <input type="image" src="~/Images/delete.png" style="float:right; padding-right:5px;" onclick="return confirm('Da li zelite da obrisete nalog?')" />
                        </td>
                    </tr>
                }
            }
            </table>

            <div class="paginacija">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @class = "paginacija" }),
                new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
            </div>
            <button id="button-add" type="button" onclick="location.href='@Url.Action("AddBook","Book")'">Dodaj</button>
        </div>



        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>

    </body>
</html>
