﻿@model CommonLayer.InvoiceMultipleDTO

@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" initial-scale="1.0" />
    <link href="~/Style/cost.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/search.js"></script>
    <title>FAKTURE</title>
    <style>
        h3 {
            margin-top: 30px;
        }

        .table3 {
            margin-top: 10px;
            margin-bottom: 250px;
            width: 90%;
        }
    </style>
</head>
<body>
    <div id="bigSection">
        <div class="divSection">
            <h3>ULAZNE DOMACE FAKTURE</h3>

            <table class="table3">
                <tr style="border:1px groove; text-align: center">
                    <th class="table-bordered1">BROJ FAKTURE</th>
                    <th class="table-bordered2">DATUM FAKTURISANJA</th>
                    <th class="table-bordered1">VOZAR</th>
                    <th class="table-bordered2">MESTO VOZARA</th>
                    <th class="table-bordered1">IZNOS U DIN</th>
                    <th class="table-bordered2">IZNOS U EUR/USD</th>
                    <th class="table-bordered1">DATUM VALUTE</th>
                    <th class="table-bordered2">DATUM PLAĆANJA</th>
                    <th class="table-bordered1">PLAĆENO</th>
                    <th class="table-bordered2">KOMENTAR</th>
                    <th class="table-bordered1">PREDMET</th>
                </tr>
                @foreach (var ul in Model.InputInvoices)
            {
                    <tr>
                        <td class="table-bordered3">@ul.NumberOfInputInvoice</td>
                        <td class="table-bordered">@ul.DateOfReceiptInvoice.ToString("MM/dd/yyyy.")</td>
                        <td class="table-bordered3">@ul.ShipperName</td>
                        <td class="table-bordered">@ul.ShipperPlace</td>
                        <td class="table-bordered3">@ul.AmountInDIN</td>
                        <td class="table-bordered">@ul.AmountInEUR</td>
                        <td class="table-bordered3">@ul.ValueDate.ToString("MM/dd/yyyy.")</td>
                        <td class="table-bordered">@ul.PaymentDate.ToString("MM/dd/yyyy.")</td>
                        <td class="table-bordered3">@ul.Paid</td>
                        <td class="table-bordered">@ul.Comment</td>
                        <td class="table-bordered3">@ul.ObjectBook</td>
                    </tr>
                }
            </table>
        </div>

        <div class="divSection">
            <h3>INOSTRANE ULAZNE FAKTURE</h3>

            <table class="table3">
                <tr style="border:1px groove; text-align: center">
                    <th class="table-bordered1">BROJ FAKTURE</th>
                    <th class="table-bordered2">DATUM FAKTURISANJA</th>
                    <th class="table-bordered1">VOZAR</th>
                    <th class="table-bordered2">MESTO VOZARA</th>
                    <th class="table-bordered1">IZNOS U EUR</th>
                    <th class="table-bordered2">DATUM VALUTE</th>
                    <th class="table-bordered1">DATUM PLAĆANJA</th>
                    <th class="table-bordered2">PLAĆENO</th>
                    <th class="table-bordered1">KOMENTAR</th>
                    <th class="table-bordered2">PREDMET</th>

                </tr>
                @foreach (var ul in Model.ForeignInputInvoices)
            {
                    <tr>
                        <td class="table-bordered3">@ul.SerialNumberOfForeignInputInvoice</td>
                        <td class="table-bordered">@ul.DateOfReceiptInvoice.ToString("MM/dd/yyyy.")</td>
                        <td class="table-bordered3">@ul.ShipperName</td>
                        <td class="table-bordered">@ul.ShipperPlace</td>
                        <td class="table-bordered3">@ul.AmountInEUR</td>
                        <td class="table-bordered">@ul.ValueDate.ToString("MM/dd/yyyy.")</td>
                        <td class="table-bordered3">@ul.PaymentDate.ToString("MM/dd/yyyy.")</td>
                        <td class="table-bordered">@ul.Paid</td>
                        <td class="table-bordered3">@ul.Comment</td>
                        <td class="table-bordered">@ul.ObjectBook</td>
                    </tr>
                }

            </table>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

