﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<CommonLayer.ClientOffersDTO>

@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
   
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/cost.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/search.js"></script>
    <title>PONUDE KLIJENATA</title>
</head>
<body>
    <div id="login-div" class="table-responsive">
        <h2 style="font-family:Calibri;margin-top:50px;">KLIJENT PONUDE</h2>
        <br />
        @using (Html.BeginForm("ClientOfferList11", "ClientOffer", FormMethod.Get))
        {
            <div align="right" style="margin-bottom: 1em;">
                <input type="text" id="myInput" class="form-control" style="font-family:Calibri" onkeyup="myFunction()" placeholder="Pretraži..">
            </div>
        }
        <table id="myTable">
            <tr style="border:1px groove; text-align: center">
                <th class="table-bordered1" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().OffersName)
                </th>
                <th class="table-bordered2" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().Description)
                </th>
                <th class="table-bordered1" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().Date)
                </th>
                <th class="table-bordered2" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().ASA)
                </th>
                <th class="table-bordered1" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().Accepted)
                </th>
                <th class="table-bordered2" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().ShipperOfferName)
                </th>
                <th class="table-bordered1" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().ClientName)
                </th>
                <th class="table-bordered2" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().ObjectBook)
                </th>
                <th class="table-bordered1" style="font-family:Calibri"></th>
            </tr>

            @foreach (var item in Model)
            {
                using (Html.BeginForm("DeleteClientOffer11", "ClientOffer", new { id = item.ClientOfferId }))
                {
                    <tr>
                        <td class="table-bordered3" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.OffersName)
                        </td>
                        <td class="table-bordered" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="table-bordered3" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td class="table-bordered" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.ASA)
                        </td>
                        <td class="table-bordered3" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.Accepted)
                        </td>
                        <td class="table-bordered" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.ShipperOfferName)
                        </td>
                        <td class="table-bordered3" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.ClientName)
                        </td>
                        <td class="table-bordered" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.ObjectBook)
                        </td>
                        <td class="table-bordered3" id="bla">
                            <a href="@Url.Action("Edit11", "ClientOffer", new { id = item.ClientOfferId })">
                                <img src="~/Images/edit.png" style="float:left;padding-left:5px" />
                            </a>
                            <input type="image" src="~/Images/delete.png" style="float:right; padding-right:5px;" onclick="return confirm('Da li zelite da obrisete nalog?')" />
                        </td>
                    </tr>
                }
            }
        </table>
        <div class="paginacija">
            @Html.PagedListPager(Model, page => Url.Action("ClientOfferList11", new { page, @class = "paginacija" }),
       new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
        </div>
        <button id="button-add" style="font-family:Calibri" type="button" onclick="location.href='@Url.Action("CreateClientOffer11","ClientOffer")'">Dodaj</button>

    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
