﻿@model CommonLayer.ClientOffersDTO

@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
   
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/table1.css" rel="stylesheet" />
    <title>PARTNERI</title>
</head>
<body>
    <h2 style="text-align:center; padding-right:230px;font-family:Calibri;">IZMENI KLIJENT PONUDU</h2>
    <div class="container" style="padding-left:350px;">

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


            <div class="form-horizontal">

             
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
              
                <div class="form-group">
                   
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ClientOfferId, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                        @Html.ValidationMessageFor(model => model.ClientOfferId, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.OffersName, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.OffersName, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.OffersName, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ASA, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ASA, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                        @Html.ValidationMessageFor(model => model.ASA, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Accepted, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Accepted)
                            @Html.ValidationMessageFor(model => model.Accepted, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ClientId, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.ClientId, new SelectList(Model.ClientCollection, "ClientId", "NameOfClientCompany"), "Izaberi klijenta", new { @class="klasa"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BookId, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.BookId, new SelectList(Model.BookCollection, "BookId", "ObjectBook"), "Izaberi predmet",  new { @class = "klasa" })
                    </div>
                </div>

                @*<div class="form-group">
                    @Html.LabelFor(model => model.ShipperOfferId, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.ShipperOfferId, new SelectList(Model.ShipperOfferCollection, "ShipperOfferId", "ShipperOfferName"), "Izaberi ponudu",  new { @class = "klasa" })
                    </div>
                </div>*@

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" style="font-family:Calibri;" onclick="location.href='@Url.Action("ClientOfferList", "ClientOffer")'">Nazad</button>
                        <input type="submit" style="font-family:Calibri;" value="Sačuvaj" class="create-btn" />
                    </div>
                </div>
            </div>
        }

    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>

