﻿@model CommonLayer.ShowShipperOfferInClientOfferDTO

@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" initial-scale="1.0" />
    <link href="~/Style/cost.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/search.js"></script>
    <title>FAKTURE</title>
    <style>
        h3 {
            margin-top: 30px;
        }

        .table3 {
            margin-top: 10px;
            margin-bottom: 250px;
            width: 90%;
        }
    </style>
</head>
<body>
    <div id="bigSection">
        <div class="divSection">
            <h3>PONUDE VOZARA</h3>

            <table class="table3">
                <tr style="border:1px groove; text-align: center">
                    <th class="table-bordered1">BROJ PONUDE</th>
                    <th class="table-bordered2">DATUM</th>
                    <th class="table-bordered1">VOZAR</th>
                    <th class="table-bordered2">OPIS</th>
                    <th class="table-bordered1">EMAIL</th>
                    <th class="table-bordered2">IZNOS</th>
                    <th class="table-bordered1">TELEFON</th>
                    <th class="table-bordered2">RELACIJA</th>
                    
                </tr>
                @foreach (var ul in Model.ShipperOffers)
                {
                    <tr>
                        <td class="table-bordered3">@ul.ShipperOfferName</td>
                        <td class="table-bordered">@ul.Date.ToString("MM/dd/yyyy.")</td>
                        <td class="table-bordered3">@ul.ShipperName</td>
                        <td class="table-bordered">@ul.Description</td>
                        <td class="table-bordered3">@ul.Email</td>
                        <td class="table-bordered">@ul.Price</td>
                        <td class="table-bordered3">@ul.Telephone</td>
                        <td class="table-bordered">@ul.Distance</td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

