﻿body {
    margin: 0;
    padding: 0;
    width: 100%;
}

#login-div {
    width: 95%;
    padding-top: 20px;
    margin-top: 20px;
}

#box-radius {
    border-radius: 15px;
}

.table-bordered1 {
    background-color: #64B2D4;
    padding-top: 5px;
    padding-top: 5px;
    color: #263d47;
    border:none;
    text-align:center;
    border:none;
}

.table-bordered2 {
    background-color: #abd3e5;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #263d47;
    border:none;
    text-align:center;
    border:none;
}

.table-bordered3 {
    border-bottom:1px solid black;
}

.table-bordered {
    border-bottom: 1px solid black;
}


#button-add {
    border-radius: 15px;
    color: white;
    border: none;
    height: 30px;
    width: 100px;
    float: right;
    margin-top: 25px;
    margin-right: 70px;
    background-color: #64B2D4;
}

.field-validation-error {
    color: red;
}

#myTable{
    width:95%;
    margin-left: 20px;
}

#tra{
    padding-top:2px;
    width:60px;
    padding-bottom:0;
}

#bla {
    width: 80px;
    text-align: center;
    padding-left: 5px;
    border-bottom:1px solid black;
    padding-top:3px;
}

td {
    padding-left: 8px;
}



h1
{
    padding-left: 20px;
    padding-bottom:25px;
}

.form-control {
    background-image: url('../../Images/searchLogo.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 15%;
    float: right;
    font-size: 16px;
    padding: 6px 16px 6px 30px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    width: 180px;
    border-radius: 15px;
    margin-right: 55px;
}

.form-control placeholder
{
    float: left;
}

.pretraga {
    background-color: #64B2D4;
    color:white;
}

.paginacija ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    overflow: hidden; /*background-color: #333;*/
    margin-left: 800px;
}

.paginacija li {
    float: left;
    border: 1px solid #d1cbcb;
}

    .paginacija li:last-child {
        border-right: 1px solid #d1cbcb;
    }

    .paginacija li a {
        display: block;
        color: Black;
        text-align: center;
        padding: 4px 9px;
        text-decoration: none;
    }

        .paginacija li a:hover:not(.active) {
            background-color: #d1cbcb;
        }

@media screen and (max-width: 300px){
    #login-div {
        width: 70%;
        padding-top: 0px;
        margin-top: 0px;
    }
}



