﻿body {
    margin:0;
    padding:0;
    width:100%;
}

.slikaa {
    width: 20%;
    margin:0;
    padding-top:80px;
    padding-left:50px;
    
    
}

a{
    text-decoration:none;
}

img:hover {
    opacity: 0.5;
}
