﻿@model IEnumerable<CommonLayer.DodatnaDokumentaDTO>

@{
    ViewBag.Title = "DodatnaDokumenta";
}

<h2>DodatnaDokumenta</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Predmet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pdf)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    using (Html.BeginForm("DeleteAttachment", "DodatnaDokumenta", new { id = item.Id }))
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Predmet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pdf)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            
            <input type="submit" value="Delete" onclick="return confirm('Da li zelite da obrisete klijenta  @item.Naziv')" />
        </td>
    </tr>
    }
}
</table>
