﻿@model CommonLayer.UserDTO

@{
    ViewBag.Title = "ASagent";
    

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/login.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="left"><img src="~/Images/loginImage.png" /></div>
        <div class="right">
            <div class="formBox">
                <div id="slika">
                    <img style="width: 70px; height: 70px;" src="~/Images/login-512.png" />
                </div>
                @using (Html.BeginForm("LogIn", "User", FormMethod.Post))
                {
                    <table class="table-responsive">
                        <tr>
                            <td></td>
                            <td id="korime">@Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "custom-editor", @style="font-family:calibri;", placeholder = "Korisničko ime" } })</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td id="form-group">@Html.ValidationMessageFor(model => model.Username)</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "custom-editor", @style = "font-family:calibri;", placeholder = "Lozinka" } })</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>@Html.ValidationMessageFor(model => model.Password)</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding-left:6px;">
                                <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" id="myBtn" name="name" style="font-family:Calibri;" value="Uloguj se" />
                            </td>
                        </tr>
                    </table>
                    
                }
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
   
</body>
</html>



