﻿@model CommonLayer.UserDTO

@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/table1.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script> 
    <title>PARTNERI</title>
</head>
<body>
    <h2 style="text-align:center; padding-right:210px;font-family:Calibri;">KREIRAJ KORISNIKA</h2>

    <div class="container" style="padding-left:400px;">

        @using (Html.BeginForm("Registrate", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Ime..." } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Prezime..." } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Adresa..." } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Email..." } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Telefon..." } })
                        @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Korisničko ime..." } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                        @Html.Raw(TempData["msg"])
                    </div>
                    
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Lozinka..." } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.EnumDropDownListFor(m => Model.UserRole, "Izaberi ulogu", new { @class = "klasa", @style = "font-family:Calibri;" })

                    <div class="col-md-10">

                        @Html.ValidationMessageFor(model => model.LoginErrorMessage, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" style="font-family:Calibri;" onclick="location.href='@Url.Action("Show", "User")'">Nazad</button>
                        <input type="submit" style="font-family:Calibri;" value="Kreiraj" class="create-btn" />
                    </div>
                </div>
            </div>
        }
    </div>
    
   

</body>
</html>
