﻿@model CommonLayer.InputInvoiceDTO

@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/table1.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <title>PARTNERI</title>
</head>
<body>
    <h2 style="text-align:center; padding-right:210px;font-family:Calibri;">KREIRAJ FAKTURU</h2>

    <div class="container" style="padding-left:400px;">

        @using (Html.BeginForm("CreateInputInvoice", "InputInvoice", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NumberOfInputInvoice, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder="Broj fakture...." } })
                        @Html.ValidationMessageFor(model => model.NumberOfInputInvoice, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DateOfReceiptInvoice, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DateOfReceiptInvoice, new { htmlAttributes = new { @class = "form-control", @type = "date", @style = "font-family:Calibri;" } })
                        @Html.ValidationMessageFor(model => model.DateOfReceiptInvoice, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AmountInDIN, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AmountInDIN, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                        @Html.ValidationMessageFor(model => model.AmountInDIN, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.AmountInEUR, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AmountInEUR, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                        @Html.ValidationMessageFor(model => model.AmountInEUR, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ValueDate, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ValueDate, new { htmlAttributes = new { @class = "form-control", @type = "date", @style = "font-family:Calibri;" } })
                        @Html.ValidationMessageFor(model => model.ValueDate, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PaymentDate, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PaymentDate, new { htmlAttributes = new { @class = "form-control", @type="date", @style = "font-family:Calibri;" } })
                        @Html.ValidationMessageFor(model => model.PaymentDate, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Paid, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Paid)
                            @Html.ValidationMessageFor(model => model.Paid, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                        @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ObjectBook, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.BookId, new SelectList(Model.BookCollection, "BookId", "ObjectBook"), "Izaberi predmet", new { @class = "klasa", @style = "font-family:Calibri;" })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ShipperName, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.ShipperId, new SelectList(Model.ShipperCollection, "ShipperId", "CompanyName"), "Izaberi partnera", new { @class = "klasa", @style = "font-family:Calibri;" })

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" style="font-family:Calibri" onclick="location.href='@Url.Action("InputInvoices", "InputInvoice")'">Nazad</button>
                        <input type="submit" value="Kreiraj" style="font-family:Calibri" class="create-btn" />
                    </div>
                </div>
            </div>
        }
        </div>
        
</body>
</html>