﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<CommonLayer.InputInvoiceDTO>

@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
  
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/cost.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/search.js"></script>
    <title>ULAZNE FAKTURE</title>
</head>
<body>
    <div id="login-div" class="table-responsive">
        <h2 style="font-family:Calibri;margin-top:50px;">LISTA ULAZNIH FAKTURA</h2>

        @using (Html.BeginForm("InputInvoices11", "InputInvoice", FormMethod.Get))
        {
            <div align="right" style="margin-bottom: 1em;">
                <input type="text" id="myInput" class="form-control" onkeyup="myFunction()" style="font-family:Calibri" placeholder="Pretraži..">
            </div>

            <div class="blok">
                <label style="padding-left:25px;">Od:</label>
                @Html.TextBox("dat1", "DateFrom", new { @class = "InsertDate", @type = "date", @style = "border-radius:15px; border:none; margin-top:10px; height:25px; padding-left:8px;font-family:Calibri;" })
                <label>Do:</label>
                @Html.TextBox("dat2", "DateTo", new { @class = "InsertDate", @type = "date", @style = "border-radius:15px; border:none; margin-top:10px; height:25px; padding-left:8px;font-family:Calibri;" })

                <button type="submit"><img src="~/Images/Search.png" style="width:15px; height:15px;" /></button>
            </div>
        }

        <table id="myTable">
            <tr style="border:1px groove; background-color:lightgray; text-align: center">
                <th class="table-bordered1" style="font-family:Calibri;width:250px;">
                    @Html.DisplayNameFor(model => model.First().NumberOfInputInvoice)
                </th>
                <th class="table-bordered2" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().DateOfReceiptInvoice)
                </th>
                <th class="table-bordered1" style="font-family:Calibri;width:250px;">
                    @Html.DisplayNameFor(model => model.First().ShipperName)
                </th>
                <th class="table-bordered2" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().ShipperPlace)
                </th>
                <th class="table-bordered1" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().AmountInDIN)
                </th>
                <th class="table-bordered2" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().AmountInEUR)
                </th>
                <th class="table-bordered1" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().ValueDate)
                </th>
                <th class="table-bordered2" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().PaymentDate)
                </th>
                <th class="table-bordered1" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().Paid)
                </th>
                <th class="table-bordered2" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().Comment)
                </th>

                <th class="table-bordered1" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().ObjectBook)
                </th>


                <th class="table-bordered2"></th>
            </tr>

            @foreach (var item in Model)
            {
                using (Html.BeginForm("DeleteInvoice11", "InputInvoice", new { id = item.SerialNumberOfInputInvoice }))
                {
                    <tr>
                        <td class="table-bordered3" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.NumberOfInputInvoice)
                        </td>
                        <td class="table-bordered" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.DateOfReceiptInvoice)
                        </td>
                        <td class="table-bordered" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.ShipperName)
                        </td>
                        <td class="table-bordered3" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.ShipperPlace)
                        </td>
                        <td class="table-bordered" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.AmountInDIN)
                        </td>
                        <td class="table-bordered3" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.AmountInEUR)
                        </td>
                        <td class="table-bordered" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.ValueDate)
                        </td>
                        <td class="table-bordered3" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.PaymentDate)
                        </td>
                        <td class="table-bordered" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.Paid)
                        </td>
                        <td class="table-bordered3" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.Comment)
                        </td>

                        <td class="table-bordered" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.ObjectBook)
                        </td>



                        <td class="table-bordered3" style="font-family:Calibri">
                            <a href="@Url.Action("Edit11", "InputInvoice", new { id = item.SerialNumberOfInputInvoice })">
                                <img src="~/Images/edit.png" style="float:left;padding-right:5px" />
                            </a>

                            <input type="image" src="~/Images/delete.png" onclick="return confirm('Da li zelite da obrisete fakturu  @item.NumberOfInputInvoice')" />

                        </td>
                    </tr>
                }
            }
        </table>
        <div class="paginacija">
            @Html.PagedListPager(Model, page => Url.Action("InputInvoices11", new
       {
           page,
           @class = "paginacija",
           dat1 = Request.QueryString["dat1"],
           dat2 = Request.QueryString["dat2"]
       }),
       new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
        </div>
        <button id="button-add" style="font-family:Calibri" type="button" onclick="location.href='@Url.Action("CreateInputInvoice11", "InputInvoice")'">Dodaj</button>

    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
