﻿<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="~/Style/HomePage.css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <title>@ViewBag.Title</title>
    <style>
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 300px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: whitesmoke;
            margin: auto;
            padding-top: 80px;
            padding-bottom: 80px;
            padding-left: 10px;
            padding-right: 10px;
            border: 1px solid #888;
            border-radius: 15px;
            width: 30%;
            text-align: center;
            font-weight: bold;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
    </style>


</head>
<body style="font-family:Calibri">
    <div id="header">
        <ul id="navbar">
            <li><a href="#" id="myBtn"><img src="~/Images/bla.png" style="padding-left:30px;" /></a></li>
            <li><a href="@Url.Action("Show", "User", null)"><img src="~/Images/set.png" /></a></li>
            <li><a href="@Url.Action("LogOut","User")"><img src="~/Images/logouticon.png" style="width:45px; height:42px;padding-right:20px;" /></a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="leftmenu">
                <ul id="navbar1">
                    <li><a href="@Url.Action("Index", "Book", null)"><img style="width:100%;" src="~/Images/asagentlogo.png" /></a></li>
                    <li><a href="@Url.Action("ClientList", "Client", null)"><img id="slika" style="width:100%; " src="~/Images/klijenti.png" /></a></li>
                    <li><a href="@Url.Action("Shippers", "Shipper", null)"><img id="slika" style="width:100%;" src="~/Images/partneri.png" /></a></li>
                    <li><a href="@Url.Action("Index", "Evidence", null)"><img id="slika" style="width:100%;" src="~/Images/evidencija.png" /></a></li>
                    <li><a href="@Url.Action("Index", "Documentation", null)"><img id="slika" style="width:100%;" src="~/Images/dokumentacija.png" /></a></li>
                    <li><a href="@Url.Action("AddressBook", "AddressBook", null)"><img id="slika" style="width:100%;" src="~/Images/^011551E6D9BF176696B93814B8892F9183EAE898B1EA75CF0F^pimgpsh_fullsize_distr.png" /></a></li>
                    <li><a href="@Url.Action("Report", "Notification", null)"><img id="slika" style="width:100%;" src="~/Images/izvestaj.png" /></a></li>
                    <li><a href="@Url.Action("SendEmail", "DocumentForm", null)"><img id="slika" style="width:100%;" src="~/Images/mail.png" /></a></li>
                </ul>
            </div>
        </div>
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
               <span class="close">&times;</span>
                <p><a href="@Url.Action("Index", "Notification")" style="color:red;font-size:24px;">IZMIRITE SVOJE OBAVEZE!</a></p>
            </div>

        </div>
       
        <div class="col-md-11">
            <div class="content">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        // Get the modal
        var modal = document.getElementById('myModal');


        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body>
</html>
