﻿<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Style/HomePage.css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <title>@ViewBag.Title</title>

</head>
<body style="font-family:Calibri">
    <div id="header">
        <ul id="navbar">
            <li><a href="@Url.Action("LogOut","User")"><img src="~/Images/logouticon.png" style="width:45px; height:42px;padding-right:20px;" /></a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="leftmenu">
                <ul id="navbar1">
                    <li><a href="@Url.Action("Index11", "Book", null)"><img style="width:100%;" src="~/Images/asagentlogo.png" /></a></li>
                    <li><a href="@Url.Action("ClientList11", "Client", null)"><img id="slika" style="width:100%; " src="~/Images/klijenti.png" /></a></li>
                    <li><a href="@Url.Action("Shippers11", "Shipper", null)"><img id="slika" style="width:100%;" src="~/Images/partneri.png" /></a></li>
                    <li><a href="@Url.Action("Index11", "Evidence", null)"><img id="slika" style="width:100%;" src="~/Images/evidencija.png" /></a></li>
                    <li><a href="@Url.Action("Index11", "Documentation", null)"><img id="slika" style="width:100%;" src="~/Images/dokumentacija.png" /></a></li>
                    <li><a href="@Url.Action("AddressBook11", "AddressBook", null)"><img id="slika" style="width:100%;" src="~/Images/^011551E6D9BF176696B93814B8892F9183EAE898B1EA75CF0F^pimgpsh_fullsize_distr.png" /></a></li>
                    <li><a href="@Url.Action("SendEmail", "DocumentForm", null)"><img id="slika" style="width:100%;" src="~/Images/mail.png" /></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-11">
            <div class="content">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
