﻿
@{
    ViewBag.Title = "ASagent";
    //if (Session["userID"] == null)
    //{
    //    Response.Redirect("~/User/Landing");
    //}
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <style type="text/css">
        body {
            margin: 0px !important;
            padding: 0px !important;
            font-family: Calibri;
            font-size: 0.8em;
        }

        #content {
            border: 1px solid black;
            border-bottom: 10px solid dodgerblue !important;
            overflow: auto;
            max-width: 750px;
            margin: auto;
            background: white;
        }

        #logo {
            float: left;
            margin-top: 8px;
            margin-left: 30px;
        }

            #logo img {
                height: 80px;
                width: 80px;
            }

        #company {
            float: right;
            padding-top: 2px;
            text-align: center;
            font-size: 0.8em;
            padding-right: 270px;
        }

        #firstTitle {
            border: 1px solid dodgerblue;
            padding-left: 5px;
            margin-top: 95px;
            background-color: dodgerblue;
            font-weight: bold;
        }

        #secondTitle {
            border: 1px solid dodgerblue;
            padding-left: 5px;
            background-color: dodgerblue;
            font-weight: bold;
        }

        #client {
            float: left;
            font-size: 0.9em;
            padding-left: 5px;
        }

        #offer {
            float: right;
            font-size: 0.9em;
            padding-right: 100px;
        }

        input {
            font-size: 0.9em;
        }

        #txt1 {
            margin-left: 29px;
        }

        #txt2 {
            margin-left: 59px;
        }

        #txt3 {
            margin-left: 5px;
        }

        #txt5 {
            margin-left: 20px;
        }

        #txt4 {
            margin-left: 31px;
        }

        #txt8 {
            width: 195px !important;
            margin-left: 25px;
        }

        #txt9 {
            margin-left: 31px;
        }

        #txt10 {
            margin-left: 64px;
        }

        #txt11 {
            width: 123px;
            margin-left: 4px;
        }

        #txt12 {
            text-align: center;
            width: 280px;
            margin-left: 5px;
            background-color: dodgerblue;
        }

        #txt13 {
            width: 100px;
        }

        #txt14 {
            margin-bottom: 1px;
            margin-left: 5px;
            width: 290px;
            text-align: center;
        }

        #txt15, #txt16, #txt17, #txt18 {
            margin-left: 5px;
            width: 290px;
            text-align: center;
        }

        #txt19 {
            text-align: center;
            width: 42px;
            margin-left: 2px;
        }

        #txt20 {
            margin-left: 3px;
            width: 107px;
        }

        #txt21, #txt22 {
            margin-left: 5px;
            width: 270px;
        }

        #txt23 {
            padding-left: 1px;
            width: 150px;
            background-color: dodgerblue;
        }

        #txt24 {
            padding-left: 5px;
            text-align: justify;
            width: 730px;
            margin-top: 2px;
            font-size: 0.7em;
        }

        #txt25, #txt26, #txt27,
        #txt28, #txt29, #txt30, #txt31, #txt32 {
            width: 730px;
        }

        #txt33 {
            margin-left: 5px;
            width: 630px;
        }

        #txt34, #txt35 {
            margin-bottom: 1px;
        }

        #txt36 {
            width: 145px !important;
        }

        #txt37 {
            margin-left: 9px;
            width: 160px;
        }

        #txt38 {
            margin-left: 1px;
            width: 160px !important;
        }

        #txt39 {
            margin-left: 2px;
        }

        #txt40 {
            margin-left: 18px;
        }

        #firstSection {
            padding-top: 8px;
            padding-bottom: 8px;
        }

        #transport {
            font-weight: bold;
            border: 1px solid dodgerblue;
            margin-bottom: 5px;
            margin-top: 100px;
            background-color: dodgerblue;
        }

        #txt8 {
            padding-left: 5px;
        }

        #describe {
            border: 1px solid black;
        }

        span {
            border-right: 1px solid black;
        }

        #firstSpan {
            padding-left: 98px !important;
            padding-right: 98px !important;
        }

        #secondSpan {
            padding-left: 5px;
            padding-right: 5px;
        }

        #thirdSpan {
            padding-left: 5px;
            padding-right: 5px;
        }

        #last {
            padding-left: 100px;
            border-right-color: white;
        }

        #firstDivi {
            float: left;
        }

        #secondDivi {
            float: left;
        }

        #thirdDivi {
            float: left;
        }

        #fourthDivi {
            float: left;
        }

        #cost {
            padding-left: 5px;
            margin-top: 5px;
            border: 1px solid dodgerblue;
            background-color: dodgerblue;
            font-weight: bold;
        }

        #text1 {
            text-align: justify;
            padding-bottom: 2px;
        }

        #text1, #text3 {
            font-size: 0.7em !important;
        }


        #TextBoxContainer {
            margin-bottom: 2px;
        }

        #tranzit {
            font-weight: bold;
            border: 1px solid dodgerblue;
            margin-top: 110px;
            background-color: dodgerblue;
            padding-left: 5px;
        }

        #text2, #text4 {
            font-weight: bold;
            border: 1px solid dodgerblue;
            background-color: dodgerblue;
            padding-left: 5px;
        }

        #term {
            margin-top: 150px;
            font-weight: bold;
        }

        #term1 {
            padding-top: 5px;
        }

        #first, #second, #third {
            float: left;
        }

        #first {
            padding-top: 5px;
            padding-left: 5px;
        }

        #second {
            padding-top: 5px;
            padding-left: 60px;
        }

        #third {
            padding-top: 5px;
            padding-left: 60px;
        }

        #buttons {
            margin-left: 573px;
            margin-top: 80px;
            margin-bottom: 40px;
        }

        #firstSec {
            float: left;
            padding-top: 5px;
            padding-left: 5px;
            padding-bottom: 5px;
        }

        #secondSec {
            float: left;
            padding-top: 5px;
            padding-left: 15px;
            padding-bottom: 5px;
        }

        #name {
            font-weight: bold;
        }

        #txt1, #txt2, #txt3, #txt4, #txt5, #txt36 {
            width: 200px;
        }

        #newDiv {
            font-size: 0.7em !important;
        }

        #footer {
            margin-top: 5px;
            border-top: 10px solid dodgerblue;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">

        function printpage() {

            var printButton = document.getElementById("printpagebutton");
            var save = document.getElementById("btnSave");
            var back = document.getElementById("btnNazad");

            var text1 = document.getElementById("txt1");
            var text2 = document.getElementById("txt2");
            var text3 = document.getElementById("txt3");
            var text4 = document.getElementById("txt4");
            var text5 = document.getElementById("txt5");
            var text8 = document.getElementById("txt8");
            var text9 = document.getElementById("txt9");
            var text10 = document.getElementById("txt10");
            var text11 = document.getElementById("txt11");
            var text12 = document.getElementById("txt12");
            var text13 = document.getElementById("txt13");
            var text14 = document.getElementById("txt14");
            var text15 = document.getElementById("txt15");
            var text16 = document.getElementById("txt16");
            var text17 = document.getElementById("txt17");
            var text18 = document.getElementById("txt18");
            var text19 = document.getElementById("txt19");
            var text20 = document.getElementById("txt20");
            var text21 = document.getElementById("txt21");
            var text22 = document.getElementById("txt22");
            var text23 = document.getElementById("txt23");
            var text24 = document.getElementById("txt24");
            var text25 = document.getElementById("txt25");
            var text26 = document.getElementById("txt26");
            var text27 = document.getElementById("txt27");
            var text28 = document.getElementById("txt28");
            var text29 = document.getElementById("txt29");
            var text30 = document.getElementById("txt30");
            var text31 = document.getElementById("txt31");
            var text32 = document.getElementById("txt32");
            var text33 = document.getElementById("txt33");
            var text34 = document.getElementById("txt34");
            var text35 = document.getElementById("txt35");
            var text36 = document.getElementById("txt36");
            var text37 = document.getElementById("txt37");
            var text38 = document.getElementById("txt38");
            var text39 = document.getElementById("txt39");
            var text40 = document.getElementById("txt40");


            text1.style.border = "none";
            text1.style.background = "transparent";

            text2.style.border = "none";
            text2.style.background = "transparent";

            text3.style.border = "none";
            text3.style.background = "transparent";

            text4.style.border = "none";
            text4.style.background = "transparent";

            text5.style.border = "none";
            text5.style.background = "transparent";

            text8.style.border = "none";
            text8.style.background = "transparent";

            text9.style.border = "none";
            text9.style.background = "transparent";

            text11.style.border = "none";
            text11.style.background = "transparent";

            text10.style.border = "none";
            text10.style.background = "transparent";

            text12.style.border = "none";
            text12.style.background = "transparent";

            text13.style.border = "none";
            text13.style.background = "transparent";

            text14.style.border = "none";
            text14.style.background = "transparent";


            text15.style.border = "none";
            text15.style.background = "transparent";

            text16.style.border = "none";
            text16.style.background = "transparent";

            text17.style.border = "none";
            text17.style.background = "transparent";

            text18.style.border = "none";
            text18.style.background = "transparent";

            text19.style.border = "none";
            text19.style.background = "transparent";

            text20.style.border = "none";
            text20.style.background = "transparent";

            text21.style.border = "none";
            text21.style.background = "transparent";

            text22.style.border = "none";
            text22.style.background = "transparent";

            text23.style.border = "none";
            text23.style.background = "transparent";

            text24.style.border = "none";
            text24.style.background = "transparent";

            text25.style.border = "none";
            text25.style.background = "transparent";

            text26.style.border = "none";
            text26.style.background = "transparent";

            text27.style.border = "none";
            text27.style.background = "transparent";

            text28.style.border = "none";
            text28.style.background = "transparent";

            text29.style.border = "none";
            text29.style.background = "transparent";

            text30.style.border = "none";
            text30.style.background = "transparent";

            text31.style.border = "none";
            text31.style.background = "transparent";

            text32.style.border = "none";
            text32.style.background = "transparent";

            text33.style.border = "none";
            text33.style.background = "transparent";

            text34.style.border = "none";
            text34.style.background = "transparent";

            text35.style.border = "none";
            text35.style.background = "transparent";

            text36.style.border = "none";
            text36.style.background = "transparent";

            text37.style.border = "none";
            text37.style.background = "transparent";

            text38.style.border = "none";
            text38.style.background = "transparent";

            text39.style.border = "none";
            text39.style.background = "transparent";

            text40.style.border = "none";
            text40.style.background = "transparent";



            printButton.style.visibility = 'hidden';
            save.style.visibility = 'hidden';
            back.style.visibility = 'hidden';

            window.print()

        };

    </script>


</head>
<body>
    <div id="content">
        <div id="head">
            <div id="logo">
                <img src="~/Images/6c78b89d-885a-4479-8a25-279c12bae483.jpg" />
            </div>
            <div id="company">
                <p id="name">SHIPPING &bull; AVIO &bull; TRUCK TRANSPORT</p>
                <div>Tel: +381 65 220 40 25</div>
                <div>Tel: 021/421-393, 456-400, 456-640</div>
                <div>asagent@asagent.co.rs</div>
                <div>www.asagent.rs</div>
            </div>
        </div>
        <div id="firstTitle">OFFER</div>
        <div id="firstSection">
            <div id="client">
                <div>CLIENT REFERENCE:<input id="txt1" type="text" /></div>
                <div>PARITY DATE:<input id="txt2" type="text" /></div>
                <div>PICK-UP PLACE VALIDITY:<input id="txt3" type="text" /></div>
                <div>PORT OF LOADING:<input id="txt4" type="text" /></div>
                <div>PORT OF DISCHARGE:<input id="txt5" type="text" /></div>
                <div>FINAL DESTINATION:<input id="txt8" type="text" /></div>
            </div>
            <div id="offer">

                <div>OFFER NUM:<input id="txt9" type="text" /></div>
                <div>DATE:<input id="txt10" type="text" /></div>
                <div>EXPERIENCE DATE:<input id="txt11" type="text" /></div>
            </div>
        </div>
        <div id="transport"><input type="text" id="txt12" placeholder="Transport" /></div>
        <div id="secondTitle">TRANSPORT COSTS</div>
        <div id="describe"><span id="firstSpan">INCLUDED IN OFFER</span><span id="secondSpan">VALUE</span><span id="thirdSpan"><input type="text" id="txt13" placeholder="..." /></span><span id="last">REMARKS</span></div>
        <div id="describeDetail">
            <div id="firstDivi">
                <input type="text" id="txt14" /><br />
                <div><input type="text" id="txt15" /></div>
                <div><input type="text" id="txt16" /></div>
                <div><input type="text" id="txt17" /></div>
                <div><input type="text" id="txt18" /></div>
            </div>
            <div id="secondDivi"><input id="txt19" type="text" /></div>
            <div id="thirdDivi"><input id="txt20" type="text" /></div>
            <div id="fourthDivi"><input id="txt21" type="text" /><br /><input type="text" id="txt22" /></div>

        </div>
        <div id="tranzit">TRANSIT TIME <input type="text" id="txt23" /></div>
        <div><input id="txt24" type="text" /></div>
        <div id="newDiv">
            Transit time in the offer is given for information and can not be guaranteed by AS agent ltd. due to a number of possible extraordinary circumstances (weather disturbances, strikes, arrears in ports, decisions and actions of customs and other competent authorities, etc.), which can all significantly Influence the flow of transport.
        </div>

        <div id="text2">GENERAL REMARKS AND CONDITIONS</div>
        <div id="text3">
            -AS agent ltd.reserves the right to combine all modes of transport in any part of the contracted relationship in the event of emergencies, with the aim of making transport more efficient;<br />
            -The provision and execution of the service is the subject of the availability of equipment and the free capacity of the means of transport;<br />
            -Shipping agency/air company/trucker reserves the right to change prices and rutting without prior notice;<br />
            -Shipper is obliged to pack and provide goods in a manner convenient and safe for international transport;<br />
            -Prices are for goods perfectly packaged for manipulation and transport.<br />
            -The shipment will be subject to inspection by weight and volume, upon acceptance; -Additional costs due to eventual inaccurate or incomplete data will be included in the total billing;<br />
            -Offer for us is not binding until we accept your order or sign a contract, It is compiled on the basis of today's courses and tariffs and subject to corrections in accordance with possible changes;<br />
            -For all disputes that may arise in connection with this offer, the Commercial Court in Novi Sad is competent.
        </div>
        <div id="cost">INSURANCE IN TRANSPORT</div>
        <div id="text1">
            SERVICE FOR FULL INSURANCE OF GOODS IN TRANSPORT (ALL RISKS INSURANCE UNDER CLAUSE - ICC "A")
            We note that the liability of the carrier for damage and / or loss of goods in transport is limited to the applicable international conventions and transport conditions (Warsaw Convention, CMR, CIM, Bill of Lading conditions of carriage). On this basis, we recommend that you negotiate complete transport of goods in transport, which we can offer at affordable prices.
            This insurance is not mandatory and will not be activated without your written order in which the basis for the insurance of goods should be stated.
        </div>

        <div id="text4">OFFER DOES NOT INCLUDE</div>
        <div id="firstSec">
            <input type="text" id="txt25" /><br />
            <input type="text" id="txt26" /><br />
            <input type="text" id="txt27" /><br />
            <input type="text" id="txt28" /><br />
            <input type="text" id="txt29" /><br />
            <input type="text" id="txt30" /><br />
            <input type="text" id="txt31" /><br />
            <input type="text" id="txt32" /><br />
        </div><br />
        <div id="term">PAYMENT TERMS:<input type="text" id="txt33" /></div>
        <div id="term1">
            For all additional informations reference to this offer please don't hesitate to contact me.<br />
        </div>
        <div id="footer">
            <div>
                <div id="first">
                    <input type="text" id="txt34" /><br />
                    <input type="text" id="txt35" /><br />
                    <input type="text" id="txt36" />
                </div>
                <div id="second">
                    <div>TEL:<input type="text" id="txt37" /></div>
                    <div>MOB:<input type="text" id="txt38" /></div>
                </div>
            </div>
            <div id="third">
                <div>E-MAIL:<input type="text" id="txt39" /></div>
                <div>URL:<input type="text" id="txt40" /></div>
            </div>
        </div>

    </div>
    <div id="buttons">
        <input class="btn" id="printpagebutton" type="button" value="Štampaj" onclick="printpage()" />
        <button type="button" id="btnNazad" class="btn" onclick="location.href='@Url.Action("Index11","Documentation")'">Nazad</button>
        <button type="button" id="btnSave" class="btn" onclick="location.href='@Url.Action("ForeignOffer11PDF","DocumentForm")'">PDF</button>
    </div>



</body>
</html>

