﻿@model CommonLayer.OutgoingInvoiceDTO

@{
    ViewBag.Title = "ASagent";
    //if (Session["userID"] == null)
    //{
    //    Response.Redirect("~/User/Landing");
    //}
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <style type="text/css">
        body {
            padding-top: 0 !important;
            background: white;
            font-family: Calibri;
            font-size: 0.7em;
        }

        .content {
            overflow: auto;
            max-width: 700px;
            margin: auto;
            background: white;
        }

        #logo {
            float: left;
            margin-left: 30px;
        }

            #logo img {
                height: 90px;
                width: 90px;
            }

        #company {
            float: right;
            padding-top: 50px;
            text-align: center;
            font-size: 0.8em;
            padding-right: 210px;
        }

        #firstsection {
            padding-top: 5px;
        }

        #middle {
            margin-top: 100px;
            border-top: 1px solid black;
        }

        #client {
            font-size: 0.7em;
            float: left;
            border: 1px solid black;
            padding-left: 15px;
            padding-top: 5px;
            padding-right: 50px;
            padding-bottom: 5px;
        }

        #clientdetails {
            font-size: 0.8em;
            float: right;
            text-align: right;
        }

            #clientdetails span {
                display: inline;
                margin-right: 10px;
            }

        #mail {
            border-bottom: 1px solid black;
        }

        #pib {
            float: right;
            font-weight: bold;
        }

        #detail1 {
            font-size: 0.8em;
            padding-top: 120px;
            padding-bottom: 20px;
        }

        #invoice {
            font-family: Arial;
            font-weight: bold;
            font-size: 1em;
            float: left;
            margin-top: 40px;
        }

        #invoiced {
            font-size: 1em;
            float: right;
            text-align: left;
            font-weight: bold;
        }

        #txt1 {
            margin-left: 25px;
            margin-bottom: 2.5px;
        }

        #txt2 {
            margin-left: 10px;
            margin-bottom: 2.5px;
        }

        #txt3 {
            margin-left: 24px;
        }

        #mid {
            margin-top: 60px;
            border-top: 1px solid black;
        }

        #firstdiv {
            padding-top: 5px;
            padding-bottom: 5px;
            float: left;
        }

        #seconddiv {
            padding-top: 5px;
            float: left;
            padding-left: 405px;
            padding-bottom: 5px;
        }

        #text {
            border-top: 1px solid black;
            margin-top: 28px;
        }

        #desc {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        form {
            padding-bottom: 30px;
        }

        #transport {
            margin-right: 20px;
        }

        #additonalRow {
            margin-top: 10px;
            margin-right: 223px;
        }

        .add-row {
            margin-left: 15px;
        }

        .delete-row {
            margin-left: 10px;
        }

        .add {
            margin-left: 53px;
        }

        #bold {
            font-weight: bold;
            padding-right: 10px;
        }

        #first {
            padding-bottom: 5px;
            padding-right: 80px;
        }

        #second {
            padding-bottom: 5px;
        }

        #divv {
            padding-top: 35px;
            color: darkgray;
            font-size: 1em;
        }

        #last {
            font-size: 1em;
            float: left;
        }

            #last span {
                text-align: left;
                width: 52px;
                margin-right: 25px;
                display: inline-block;
                font-size: 1em;
                border-bottom: 1px solid black;
            }

        .onee {
            padding-left: 80px;
        }

        .secondd {
            margin-left: 80px;
            font-size: 0.8em;
            padding-bottom: 5px;
        }

        .img1 {
            float: right;
            margin-top: 0px !important;
            margin-right: 120px;
        }

            .img1 img {
                width: 120px;
                height: 70px;
            }

        #buttons {
            margin-top: 450px;
        }

        #txt10 {
            width: 300px;
        }

        td {
            border-bottom: 1px solid black;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">

        function printpage() {

            var printButton = document.getElementById("printpagebutton");
            var save = document.getElementById("btnSave");
            var back = document.getElementById("btnNazad");

            var text = document.getElementById("txt");
            var text1 = document.getElementById("txt1");
            var text2 = document.getElementById("txt2");
            var text3 = document.getElementById("txt3");
            var text4 = document.getElementById("txt4");
            var text5 = document.getElementById("txt5");
            var text6 = document.getElementById("txt6");
            var text7 = document.getElementById("txt7");
            var text8 = document.getElementById("txt8");
            //var text9 = document.getElementById("txt9");
            var text10 = document.getElementById("txt10");
            //var text11 = document.getElementById("txt11");
            var text12 = document.getElementById("txt12");
            var text13 = document.getElementById("txt13");
            var text14 = document.getElementById("txt14");
            var text14 = document.getElementById("txt14");
            var text15 = document.getElementById("txt15");
            var text16 = document.getElementById("txt16");
            var text17 = document.getElementById("txt17");
            var text18 = document.getElementById("txt18");
            var text19 = document.getElementById("txt19");
            var text20 = document.getElementById("txt20");
            var text21 = document.getElementById("txt21");
            var text22 = document.getElementById("txt22");
            var text23 = document.getElementById("txt23");
            var text24 = document.getElementById("txt24");
            var text25 = document.getElementById("txt25");
            var text26 = document.getElementById("txt26");
            var text27 = document.getElementById("txt27");
            var text28 = document.getElementById("txt28");
            var text29 = document.getElementById("txt29");

            var elem = document.getElementsByClassName("ch1");
            elem[0].style.opacity = 0;
            elem[1].style.opacity = 0;
            elem[2].style.opacity = 0;
            elem[3].style.opacity = 0;
            elem[4].style.opacity = 0;
            elem[5].style.opacity = 0;
            elem[6].style.opacity = 0;
            elem[7].style.opacity = 0;
            elem[8].style.opacity = 0;
            elem[9].style.opacity = 0;
            elem[10].style.opacity = 0;
            elem[11].style.opacity = 0;
            elem[12].style.opacity = 0;
            elem[13].style.opacity = 0;
            elem[14].style.opacity = 0;
            elem[15].style.opacity = 0;
            elem[16].style.opacity = 0;


            text.style.border = "none";
            text.style.background = "transparent";

            text1.style.border = "none";
            text1.style.background = "transparent";

            text2.style.border = "none";
            text2.style.background = "transparent";

            text3.style.border = "none";
            text3.style.background = "transparent";

            text4.style.border = "none";
            text4.style.background = "transparent";

            text5.style.border = "none";
            text5.style.background = "transparent";

            text6.style.border = "none";
            text6.style.background = "transparent";

            text7.style.border = "none";
            text7.style.background = "transparent";

            text8.style.border = "none";
            text8.style.background = "transparent";

            text10.style.border = "none";
            text10.style.background = "transparent";

            text12.style.border = "none";
            text12.style.background = "transparent";

            text13.style.border = "none";
            text13.style.background = "transparent";

            text14.style.border = "none";
            text14.style.background = "transparent";


            text15.style.border = "none";
            text15.style.background = "transparent";

            text16.style.border = "none";
            text16.style.background = "transparent";

            text17.style.border = "none";
            text17.style.background = "transparent";

            text18.style.border = "none";
            text18.style.background = "transparent";

            text19.style.border = "none";
            text19.style.background = "transparent";

            text20.style.border = "none";
            text20.style.background = "transparent";

            text21.style.border = "none";
            text21.style.background = "transparent";

            text22.style.border = "none";
            text22.style.background = "transparent";

            text23.style.border = "none";
            text23.style.background = "transparent";

            text24.style.border = "none";
            text24.style.background = "transparent";

            text25.style.border = "none";
            text25.style.background = "transparent";

            text26.style.border = "none";
            text26.style.background = "transparent";

            text27.style.border = "none";
            text27.style.background = "transparent";

            text28.style.border = "none";
            text28.style.background = "transparent";

            text29.style.border = "none";
            text29.style.background = "transparent";

            printButton.style.visibility = 'hidden';
            save.style.visibility = 'hidden';
            back.style.visibility = 'hidden';

            window.print()

        };
    </script>
</head>
<body>
    <div class="content">
        <div id="head">
            <div id="logo">
                <img src="~/Images/6c78b89d-885a-4479-8a25-279c12bae483.jpg" />
            </div>
            <div id="company">
                <div style="font-weight:bold;">POMORSKI &bull; AVIO &bull; DRUMSKI TRANSPORT</div>
                <div>21000 NOVI SAD, JOVANA DJORDJEVICA 5</div>
            </div>
        </div>
        <div id="middle">
            <div id="firstsection">
                <div id="client">
                    <div><input id="txt23" class="txt" type="text" placeholder="Company..." style="width:170px;" /></div>
                    <div><input id="txt24" class="txt" type="text" placeholder="Address..." style="width:170px;" /></div>
                    <div><input id="txt25" class="txt" type="text" placeholder="Country..." style="width:170px;" /></div>
                    <div><input id="txt26" class="txt" type="text" placeholder="Vat..." style="width:170px;" /></div>
                </div>
                <div id="clientdetails">
                    <div>
                        <span>TEL/FAX:</span>

                        021/421-393
                    </div>
                    <div>
                        <span>TEL/FAX:</span>
                        021/456-640
                    </div>
                    <div>
                        <span>TEL:</span>
                        021/456-400
                    </div>
                    <div>
                        <span>MOBILNI:</span>
                        063/516-862
                    </div>
                    <div>065/22 04 025</div>
                    <div id="mail">asagent@asagent.co.rs</div>
                    <div id="pib">ŽIRO RACUN: 220-98343-40</div>
                </div>
            </div>
            <div id="detail1">
                <div id="invoice">
                    <div>Faktura br. <input id="txt" type="text" style="width:170px;" /></div>
                </div>
                <div id="invoiced">
                    <div>Datum placanja:<input id="txt1" type="text" /></div>
                    <div>Datum fakturisanja:<input id="txt2" type="text" /></div>
                    <div>Datum prometa:<input id="txt3" type="text" /></div>
                </div>
            </div>
            <div id="mid">
                <div id="firstdiv">OPIS</div>
                <div id="seconddiv">IZNOS</div>
            </div>
            <div id="text"></div>
            <div id="desc">
                ZADUŽUJEMO VAS ZA TRANSPORTNE TROŠKOVE
            </div>
            <table id="mytable">
                <tbody>
                    <tr>
                        <td onclick="this.parentElement.style.display = 'none';" width="3%" class="ch1">
                            &times;
                        </td>
                        <td id="bold">Ref. broj:</td>
                        <td id="first"><input id="txt4" type="text" style="width:200px;" /></td>
                    </tr>
                    <tr>
                        <td onclick="this.parentElement.style.display = 'none';" width="3%" class="ch1">
                            &times;
                        </td>
                        @*  <td class="ch1" id="checkBox"><input type="checkbox" name="record"></td>*@
                        <td id="bold">Kontejner:</td>
                        <td id="first"><input id="txt5" type="text" style="width:200px;" /></td>
                    </tr>
                    <tr>
                        <td onclick="this.parentElement.style.display = 'none';" width="3%" class="ch1">
                            &times;
                        </td>
                        <td></td>
                        <td id="first"><input id="txt21" type="text" placeholder="Unesi kontejner" style="width:200px;" /></td>
                    </tr>
                    <tr>
                        <td onclick="this.parentElement.style.display = 'none';" width="3%" class="ch1">
                            &times;
                        </td>
                        <td></td>
                        <td id="first"><input id="txt23" type="text" placeholder="Unesi kontejner" style="width:200px;" /></td>
                    </tr>
                    <tr>
                        <td onclick="this.parentElement.style.display = 'none';" width="3%" class="ch1">
                            &times;
                        </td>
                        <td></td>
                        <td id="first"><input id="txt24" type="text" placeholder="Unesi kontejner" style="width:200px;" /></td>
                    </tr>

                    <tr>
                        <td onclick="this.parentElement.style.display = 'none';" width="3%" class="ch1">
                            &times;
                        </td>
                        @*  <td class="ch1" id="checkBox"><input type="checkbox" name="record"></td>*@
                        <td id="bold">Kamion:</td>
                        <td id="first"><input id="txt6" type="text" style="width:200px;" /></td>
                    </tr>
                    <tr>
                        <td onclick="this.parentElement.style.display = 'none';" width="3%" class="ch1">
                            &times;
                        </td>
                        <td></td>
                        <td id="first"><input id="txt22" type="text" placeholder="Unesi kamion" style="width:200px;" /></td>
                    </tr>
                    <tr>
                        <td onclick="this.parentElement.style.display = 'none';" width="3%" class="ch1">
                            &times;
                        </td>
                        <td></td>
                        <td id="first"><input id="txt25" type="text" placeholder="Unesi kamion" style="width:200px;" /></td>
                    </tr>
                    <tr>
                        <td onclick="this.parentElement.style.display = 'none';" width="3%" class="ch1">
                            &times;
                        </td>
                        <td></td>
                        <td id="first"><input id="txt26" type="text" placeholder="Unesi kamion" style="width:200px;" /></td>
                    </tr>
                    <tr>
                        <td onclick="this.parentElement.style.display = 'none';" width="3%" class="ch1">
                            &times;
                        </td>
                        @*<td class="ch1" id="checkBox"><input type="checkbox" name="record"></td>*@
                        <td id="bold">Datum utovara:</td>
                        <td id="first"><input id="txt29" type="text" style="width:200px;" /></td>
                    </tr>
                    <tr id="dodatak">
                        <td onclick="this.parentElement.style.display = 'none';" width="3%" class="ch1">
                            &times;
                        </td>
                        @*  <td class="ch1" id="checkBox"><input type="checkbox" name="record"></td>*@
                        <td id="bold">Roba:</td>
                        <td id="first"><input id="txt7" type="text" style="width:200px;" /></td>
                    </tr>
                    <tr>
                        <td onclick="this.parentElement.style.display = 'none';" width="3%" class="ch1">
                            &times;
                        </td>
                        @*<td class="ch1" id="checkBox"><input type="checkbox" name="record"></td>*@
                        <td id="bold">Relacija:</td>
                        <td id="first"><input id="txt8" type="text" style="width:200px;" /></td>
                    </tr>
                    <tr>
                        <td onclick="this.parentElement.style.display = 'none';" width="3%" class="ch1">
                            &times;
                        </td>
                        @* <td class="ch1" id="checkBox"><input type="checkbox" name="record"></td>*@
                        <td id="bold">Toškovi transporta:</td>
                        <td id="first"><input id="txt12" type="text" style="width:200px;" /></td>
                        <td id="second"><input id="txt13" class="txt" type="text" /></td>
                    </tr>
                    <tr>
                        <td onclick="this.parentElement.style.display = 'none';" width="3%" class="ch1">
                            &times;
                        </td>
                        <td></td>
                        <td id="first"><input id="txt15" type="text" placeholder="Unesi trošak" style="width:200px;" /></td>
                        <td id="second"><input id="txt16" class="txt" type="text" placeholder="Unesi iznos" /></td>
                    </tr>
                    <tr>
                        <td onclick="this.parentElement.style.display = 'none';" width="3%" class="ch1">
                            &times;
                        </td>
                        <td></td>
                        <td id="first"><input id="txt17" type="text" placeholder="Unesi trošak" style="width:200px;" /></td>
                        <td id="second"><input id="txt18" class="txt" type="text" placeholder="Unesi iznos" /></td>
                    </tr>
                    <tr>
                        <td onclick="this.parentElement.style.display = 'none';" width="3%" class="ch1">
                            &times;
                        </td>
                        <td></td>
                        <td id="first"><input id="txt19" type="text" placeholder="Unesi trošak" style="width:200px;" /></td>
                        <td id="second"><input id="txt20" class="txt" type="text" placeholder="Unesi iznos" /></td>
                    </tr>
                    <tr>
                        <td onclick="this.parentElement.style.display = 'none';" width="3%" class="ch1">
                            &times;
                        </td>
                        <td></td>
                        <td id="first"><input id="txt27" type="text" placeholder="Unesi trošak" style="width:200px;" /></td>
                        <td id="second"><input id="txt28" class="txt" type="text" placeholder="Unesi iznos" /></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td id="bold">Suma:</td>
                        <td></td>
                        <td><input id="txt14" type="text" /></td>
                    </tr>
                </tfoot>
            </table>
            <div id="bihDiv">
                <div style="margin-top:10px;float:left;">
                    <label>Slovima:</label>
                    <input id="txt10" type="text" />
                </div>
                <div id="divv">
                    Usluge su oslobodene poreza na dodatu vrednost po zakonu 24, stav 1) tacka 1 i Zakona o PDV-U II br.84/2004 Službeni list 86/2004
                </div>
                <div class="img1">
                    <img id="img1" src="~/Images/signature.jpg" />
                </div>
            </div>


            <div id="buttons">
                <input class="btn" id="printpagebutton" type="button" value="Štampaj" onclick="printpage()" />
                <button type="button" id="btnNazad" class="btn" onclick="location.href='@Url.Action("Index","Documentation")'">Nazad</button>
                <button type="button" id="btnSave" class="btn" onclick="location.href='@Url.Action("InvoicePDF","DocumentForm")'">PDF</button>
            </div>
        </div>
    </div>



</body>
</html>


