﻿
@{
    ViewBag.Title = "ASagent";

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <style type="text/css">
        body {
            margin: 0px !important;
            padding: 0px !important;
            font-family: Calibri;
            font-size: 0.8em;
        }

        #content {
            border: 1px solid black;
            border-bottom: 10px solid dodgerblue !important;
            overflow: auto;
            max-width: 750px;
            margin: auto;
            background: white;
        }

        #logo {
            float: left;
            margin-top: 8px;
            margin-left: 30px;
        }

            #logo img {
                height: 80px;
                width: 80px;
            }

        #company {
            float: right;
            padding-top: 2px;
            text-align: center;
            font-size: 0.8em;
            padding-right: 270px;
        }

        #firstTitle {
            border: 1px solid dodgerblue;
            padding-left: 5px;
            margin-top: 95px;
            background-color: dodgerblue;
            font-weight: bold;
        }

        #secondTitle {
            border: 1px solid dodgerblue;
            padding-left: 5px;
            background-color: dodgerblue;
            font-weight: bold;
        }

        #client {
            float: left;
            font-size: 0.9em;
            padding-left: 5px;
        }

        #offer {
            float: right;
            font-size: 0.9em;
            padding-right: 100px;
        }

        input {
            font-size: 0.9em;
        }

        #txt1 {
            margin-left: 73px;
        }

        #txt2 {
            margin-left: 71px;
        }

        #txt3 {
            margin-left: 59px;
        }

        #txt5 {
            margin-left: 15px;
        }

        #txt4 {
            margin-left: 16px;
        }

        #txt6, #txt7 {
            width: 40px;
        }

        #txt8 {
            width: 195px !important;
            margin-left: 5px;
        }

        #txt9 {
            margin-left: 18.5px;
        }

        #txt10 {
            margin-left: 50px;
        }

        #txt11 {
            width: 123px;
            margin-left: 3px;
        }

        #txt12 {
            text-align: center;
            width: 280px;
            margin-left: 5px;
            background-color: dodgerblue;
        }

        #txt13 {
            width: 100px;
        }

        #txt14 {
            margin-bottom: 1px;
            margin-left: 5px;
            width: 290px;
            text-align: center;
        }

        #txt15, #txt16, #txt17, #txt18 {
            margin-left: 5px;
            width: 290px;
            text-align: center;
        }

        #txt19 {
            text-align: center;
            width: 42px;
            margin-left: 2px;
        }

        #txt20 {
            margin-left: 5px;
            width: 110px;
        }

        #txt21, #txt22 {
            margin-left: 7px;
            width: 270px;
        }

        #txt23 {
            padding-left: 1px;
            width: 150px;
            background-color: dodgerblue;
        }

        #txt24 {
            padding-left: 5px;
            text-align: justify;
            width: 730px;
            margin-top: 2px;
            font-size: 0.7em;
        }

        #txt25, #txt26, #txt27,
        #txt28, #txt29, #txt30, #txt31, #txt32 {
            width: 730px;
        }

        #txt33 {
            margin-left: 5px;
            width: 630px;
        }

        #txt34, #txt35 {
            margin-bottom: 1px;
        }

        #txt36 {
            width: 145px !important;
        }

        #txt37 {
            margin-left: 9px;
            width: 160px;
        }

        #txt38 {
            margin-left: 1px;
            width: 160px !important;
        }

        #txt39 {
            margin-left: 2px;
        }

        #txt40 {
            margin-left: 18px;
        }

        #firstSection {
            padding-top: 8px;
            padding-bottom: 8px;
        }

        #transport {
            font-weight: bold;
            border: 1px solid dodgerblue;
            margin-bottom: 5px;
            margin-top: 100px;
            background-color: dodgerblue;
        }

        #txt8 {
            padding-left: 5px;
        }

        #describe {
            border: 1px solid black;
        }

        span {
            border-right: 1px solid black;
        }

        #firstSpan {
            padding-left: 115px !important;
            padding-right: 115px !important;
        }

        #secondSpan {
            padding-left: 5px;
            padding-right: 5px;
        }

        #thirdSpan {
            padding-left: 5px;
            padding-right: 5px;
        }

        #last {
            padding-left: 100px;
            border-right-color: white;
        }

        #firstDivi {
            float: left;
        }

        #secondDivi {
            float: left;
        }

        #thirdDivi {
            float: left;
        }

        #fourthDivi {
            float: left;
        }

        #cost {
            padding-left: 5px;
            margin-top: 5px;
            border: 1px solid dodgerblue;
            background-color: dodgerblue;
            font-weight: bold;
        }

        #text1 {
            text-align: justify;
            padding-bottom: 2px;
        }

        #text1, #text3 {
            font-size: 0.7em !important;
        }


        #TextBoxContainer {
            margin-bottom: 2px;
        }

        #tranzit {
            font-weight: bold;
            border: 1px solid dodgerblue;
            margin-top: 110px;
            background-color: dodgerblue;
            padding-left: 5px;
        }

        #text2, #text4 {
            font-weight: bold;
            border: 1px solid dodgerblue;
            background-color: dodgerblue;
            padding-left: 5px;
        }

        #term {
            margin-top: 150px;
            font-weight: bold;
        }

        #term1 {
            padding-top: 5px;
        }

        #first, #second, #third {
            float: left;
        }

        #first {
            padding-top: 5px;
            padding-left: 5px;
        }

        #second {
            padding-top: 5px;
            padding-left: 60px;
        }

        #third {
            padding-top: 5px;
            padding-left: 60px;
        }

        #buttons {
            margin-left: 573px;
            margin-top: 80px;
            margin-bottom: 40px;
        }

        #firstSec {
            float: left;
            padding-top: 5px;
            padding-left: 5px;
            padding-bottom: 5px;
        }

        #secondSec {
            float: left;
            padding-top: 5px;
            padding-left: 15px;
            padding-bottom: 5px;
        }

        #name {
            font-weight: bold;
        }

        #txt1, #txt2, #txt3, #txt4, #txt5, #txt36 {
            width: 200px;
        }

        #newDiv {
            font-size: 0.7em !important;
        }

        #footer {
            margin-top: 5px;
            border-top: 10px solid dodgerblue;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">

        function printpage() {

            var printButton = document.getElementById("printpagebutton");
            var save = document.getElementById("btnSave");
            var back = document.getElementById("btnNazad");

            var text1 = document.getElementById("txt1");
            var text2 = document.getElementById("txt2");
            var text3 = document.getElementById("txt3");
            var text4 = document.getElementById("txt4");
            var text5 = document.getElementById("txt5");
            var text6 = document.getElementById("txt6");
            var text7 = document.getElementById("txt7");
            var text8 = document.getElementById("txt8");
            var text9 = document.getElementById("txt9");
            var text10 = document.getElementById("txt10");
            var text11 = document.getElementById("txt11");
            var text12 = document.getElementById("txt12");
            var text13 = document.getElementById("txt13");
            var text14 = document.getElementById("txt14");
            var text15 = document.getElementById("txt15");
            var text16 = document.getElementById("txt16");
            var text17 = document.getElementById("txt17");
            var text18 = document.getElementById("txt18");
            var text19 = document.getElementById("txt19");
            var text20 = document.getElementById("txt20");
            var text21 = document.getElementById("txt21");
            var text22 = document.getElementById("txt22");
            var text23 = document.getElementById("txt23");
            var text24 = document.getElementById("txt24");
            var text25 = document.getElementById("txt25");
            var text26 = document.getElementById("txt26");
            var text27 = document.getElementById("txt27");
            var text28 = document.getElementById("txt28");
            var text29 = document.getElementById("txt29");
            var text30 = document.getElementById("txt30");
            var text31 = document.getElementById("txt31");
            var text32 = document.getElementById("txt32");
            var text33 = document.getElementById("txt33");
            var text34 = document.getElementById("txt34");
            var text35 = document.getElementById("txt35");
            var text36 = document.getElementById("txt36");
            var text37 = document.getElementById("txt37");
            var text38 = document.getElementById("txt38");
            var text39 = document.getElementById("txt39");
            var text40 = document.getElementById("txt40");


            text1.style.border = "none";
            text1.style.background = "transparent";

            text2.style.border = "none";
            text2.style.background = "transparent";

            text3.style.border = "none";
            text3.style.background = "transparent";

            text4.style.border = "none";
            text4.style.background = "transparent";

            text5.style.border = "none";
            text5.style.background = "transparent";

            text6.style.border = "none";
            text6.style.background = "transparent";

            text7.style.border = "none";
            text7.style.background = "transparent";

            text8.style.border = "none";
            text8.style.background = "transparent";

            text9.style.border = "none";
            text9.style.background = "transparent";

            text11.style.border = "none";
            text11.style.background = "transparent";

            text10.style.border = "none";
            text10.style.background = "transparent";

            text12.style.border = "none";
            text12.style.background = "transparent";

            text13.style.border = "none";
            text13.style.background = "transparent";

            text14.style.border = "none";
            text14.style.background = "transparent";


            text15.style.border = "none";
            text15.style.background = "transparent";

            text16.style.border = "none";
            text16.style.background = "transparent";

            text17.style.border = "none";
            text17.style.background = "transparent";

            text18.style.border = "none";
            text18.style.background = "transparent";

            text19.style.border = "none";
            text19.style.background = "transparent";

            text20.style.border = "none";
            text20.style.background = "transparent";

            text21.style.border = "none";
            text21.style.background = "transparent";

            text22.style.border = "none";
            text22.style.background = "transparent";

            text23.style.border = "none";
            text23.style.background = "transparent";

            text24.style.border = "none";
            text24.style.background = "transparent";

            text25.style.border = "none";
            text25.style.background = "transparent";

            text26.style.border = "none";
            text26.style.background = "transparent";

            text27.style.border = "none";
            text27.style.background = "transparent";

            text28.style.border = "none";
            text28.style.background = "transparent";

            text29.style.border = "none";
            text29.style.background = "transparent";

            text30.style.border = "none";
            text30.style.background = "transparent";

            text31.style.border = "none";
            text31.style.background = "transparent";

            text32.style.border = "none";
            text32.style.background = "transparent";

            text33.style.border = "none";
            text33.style.background = "transparent";

            text34.style.border = "none";
            text34.style.background = "transparent";

            text35.style.border = "none";
            text35.style.background = "transparent";

            text36.style.border = "none";
            text36.style.background = "transparent";

            text37.style.border = "none";
            text37.style.background = "transparent";

            text38.style.border = "none";
            text38.style.background = "transparent";

            text39.style.border = "none";
            text39.style.background = "transparent";

            text40.style.border = "none";
            text40.style.background = "transparent";



            printButton.style.visibility = 'hidden';
            save.style.visibility = 'hidden';
            back.style.visibility = 'hidden';

            window.print()

        };

    </script>


</head>
<body>
    <div id="content">
        <div id="head">
            <div id="logo">
                <img src="~/Images/6c78b89d-885a-4479-8a25-279c12bae483.jpg" />
            </div>
            <div id="company">
                <p id="name">POMORSKI &bull; AVIO &bull; DRUMSKI TRANSPORT</p>
                <div>Tel: +381 65 220 40 25</div>
                <div>Tel: 021/421-393, 456-400, 456-640</div>
                <div>asagent@asagent.co.rs</div>
                <div>www.asagent.rs</div>
            </div>
        </div>
        <div id="firstTitle">DETALJI PONUDE</div>
        <div id="firstSection">
            <div id="client">
                <div>KLIJENT:<input id="txt1" type="text" /></div>
                <div>PARITET:<input id="txt2" type="text" /></div>
                <div>POLAZIŠTE:<input id="txt3" type="text" /></div>
                <div><input type="text" id="txt6" /> UTOVARA:<input id="txt4" type="text" /></div>
                <div><input type="text" id="txt7" /> ISTOVARA:<input id="txt5" type="text" /></div>
                <div>FINALNA DESTINACIJA:<input id="txt8" type="text" /></div>
            </div>
            <div id="offer">

                <div>BROJ PONUDE:<input id="txt9" type="text" /></div>
                <div>DATUM:<input id="txt10" type="text" /></div>
                <div>PONUDA VAŽI DO:<input id="txt11" type="text" /></div>
            </div>
        </div>
        <div id="transport"><input type="text" id="txt12" placeholder="Unesite vrstu transporta" /></div>
        <div id="secondTitle">TROŠKOVI TRANSPORTA</div>
        <div id="describe"><span id="firstSpan">OPIS USLUGE</span><span id="secondSpan">VALUTA</span><span id="thirdSpan"><input type="text" id="txt13" placeholder="Popuni" /></span><span id="last">NAPOMENE</span></div>
        <div id="describeDetail">
            <div id="firstDivi">
                <input type="text" id="txt14" placeholder="Usluga..." /><br />
                <div><input type="text" id="txt15" /></div>
                <div><input type="text" id="txt16" /></div>
                <div><input type="text" id="txt17" /></div>
                <div><input type="text" id="txt18" /></div>
            </div>
            <div id="secondDivi"><input id="txt19" type="text" placeholder="Valuta" /></div>
            <div id="thirdDivi"><input id="txt20" type="text" placeholder="Opis" /></div>
            <div id="fourthDivi"><input id="txt21" type="text" placeholder="Napomena" /><br /><input type="text" id="txt22" /></div>

        </div>
        <div id="tranzit">TRANZITNO VREME <input type="text" id="txt23" /></div>
        <div><input id="txt24" type="text" /></div>
        <div id="newDiv">
            Tranzitno vreme u ponudi je dato informativno i ne moze biti garantovano od strane AS agent-a zbog niza mogućih vanrednih okolnosti
            (vremenske neprilike, štrajkovi, kašnjenja u lukama, odluke i postupci carinskih i drugih nadležnih organa itd.), što sve bitno moze uticati na tok transporta.
        </div>

        <div id="text2">OPŠTE ODREDBE I USLOVI</div>
        <div id="text3">
            -AS agent zadržava pravo kombinovanja svih vidova transporta na bilo kom delu ugovorene relacije u cilju što efikasnijeg izvršenja transporta;<br />
            -Ponuda i izvršenje usluge je predmet raspoloživosti opreme i slobodnih kapaciteta prevoznog sredstva;<br />
            -Brodar/prevoznik/avio kompanija zadržava pravo promene cena i rutinga bez prethodne najave;<br />
            -Pošiljalac je dužan da upakuje i obezbedi robu na način pogodan i siguran za medjunarodni transport;<br />
            -Cene se odnose na robu pogodno upakovanu za manipulaciju i transport. Pošiljka ce biti predmet provere prema težini i zapremini, po prihvatu.<br />
            -Dodatni troškovi zbog eventualno netačnih ili nepotpunih podataka biće uključeni u ukupan obračun;<br />
            -Predmetna ponuda je za nas neobavezujuca do prihvatanja Vašeg naloga ili potpisivanja ugovora. Ista je sastvaljena na bazi današnjih kurseva i tarifa i
            podleže korekcijama u skladu sa eventualnim promenama;<br />
            -Za sve sporove koji mogu nastati povodom ove ponude, nadležan je Privredni sud u Novom Sadu.
        </div>
        <div id="cost">TROŠKOVI OSIGURANJA ROBE</div>
        <div id="text1">
            USLUGA POTPUNOG OSIGURANJA ROBE U TRANSPORTU (OSIGURANJE POD KLAUZULOM "ALL RISKS" - ICC"A")
            Skrećemo Vam pažnju da je odgovornost prevoznika za oštećenje i/ili gubitak robe u transportu ogranicena prema važecim međunarodnim  konvencijama i
            uslovima transporta (Varšavska konvencija, CMR, CIM, Bill of Landing canditions of carriage). Na osnovu toga Vam preporučujemo ugovaranje potpunog
            osiguranja robe u transportu, koje Vam možemo ponuditi po povlašćenim cenama. Ovo osiguranje nije obavezno i neće biti aktivno bez Vašeg pismenog
            naloga u kome treba da bude navedena osnovica za osiguranje robe.  Osnovica za obračun premije osiguranja može biti uvećana do 20%.
        </div>

        <div id="text4">PONUDA NE UKLJUČUJE</div>
        <div id="firstSec">
            <input type="text" id="txt25" /><br />
            <input type="text" id="txt26" /><br />
            <input type="text" id="txt27" /><br />
            <input type="text" id="txt28" /><br />
            <input type="text" id="txt29" /><br />
            <input type="text" id="txt30" /><br />
            <input type="text" id="txt31" /><br />
            <input type="text" id="txt32" /><br />
        </div><br />
        <div id="term">USLOVI PLAĆANJA:<input type="text" id="txt33" /></div>
        <div id="term1">
            Za sve dodatne informacije i pojašnjenja u vezi sa ponudom stojim Vam na raspolaganju.<br />
        </div>
        <div id="footer">
            <div>
                <div id="first">
                    <input type="text" id="txt34" /><br />
                    <input type="text" id="txt35" /><br />
                    <input type="text" id="txt36" />
                </div>
                <div id="second">
                    <div>TEL:<input type="text" id="txt37" /></div>
                    <div>MOB:<input type="text" id="txt38" /></div>
                </div>
            </div>
            <div id="third">
                <div>E-MAIL:<input type="text" id="txt39" /></div>
                <div>URL:<input type="text" id="txt40" /></div>
            </div>
        </div>

    </div>
    <div id="buttons">
        <input class="btn" id="printpagebutton" type="button" value="Štampaj" onclick="printpage()" />
        <button type="button" id="btnNazad" class="btn" onclick="location.href='@Url.Action("Index11","Documentation")'">Nazad</button>
        <button type="button" id="btnSave" class="btn" onclick="location.href='@Url.Action("Offer11PDF","DocumentForm")'">PDF</button>
    </div>



</body>
</html>
