﻿
@{
    ViewBag.Title = "ASagent";
    //if (Session["userID"] == null)
    //{
    //    Response.Redirect("~/User/Landing");
    //}
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <style type="text/css">
        body {
            margin: 0px;
            padding: 0px;
            font-family: Calibri;
            background-color: white;
            font-size: 0.7em;
        }

        .content {
            color: grey;
            overflow: auto;
            max-width: 900px;
            margin: auto;
            background: white;
        }

        h2 {
            font-weight: bold;
            font-size: 1.5em;
            text-align: center;
            padding-bottom: 20px;
        }

        #header {
            padding-top: 20px;
            font-size: 1.3em;
        }

        #firstPart {
            float: left;
            padding-left: 10px;
        }

        #secondPart {
            float: left;
            padding-left: 40px;
        }

            #secondPart p {
                padding-bottom: 10px;
            }

        #middle {
            float: left;
            font-size: 1.3em;
            padding-left: 10px;
            padding-top: 5px;
            text-align: justify;
        }

        .sp {
            padding-left: 50px;
        }

        #bottom {
            padding-top: 20px;
            float: left;
            padding-left: 10px;
            color: black;
        }

        label {
            float: left;
            padding-right: 15px;
            font-size: 1.3em;
        }

        input {
            float: left;
        }

        .di {
            float: left;
            margin-bottom: 5px;
            border-bottom: 1px solid black;
        }

        #container {
            font-weight: bold;
            font-size: 1.3em;
        }

        #booking {
            font-weight: bold;
            font-size: 1.3em;
            margin-left: 12px;
        }

        #date {
            font-weight: bold;
            font-size: 1.3em;
            margin-left: 23px;
        }

        #lbl {
            font-weight: normal;
            color: grey;
            margin-top: 50px;
            font-size: 1em;
            padding-right: 0px !important;
        }

        label {
            font-size: 1em;
        }

        #buttons {
            padding-top: 120px;
        }

        #l {
            float: left;
            padding-right: 25px;
        }

        .btn {
            background-color: lightblue;
            color: dodgerblue;
            height: 2em;
            border: 1px solid lightblue;
            margin-right: 10px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">

        function printpage() {

            var printButton = document.getElementById("printpagebutton");
            var save = document.getElementById("pdfSave");
            var back = document.getElementById("btnNazad");


            var text = document.getElementById("container");
            var text1 = document.getElementById("booking");
            var text2 = document.getElementById("date");

            printButton.style.visibility = 'hidden';
            back.style.visibility = 'hidden';
            save.style.visibility = 'hidden';

            text.style.border = "none";
            text.style.background = "transparent";

            text1.style.border = "none";
            text1.style.background = "transparent";

            text2.style.border = "none";
            text2.style.background = "transparent";

            window.print()

        };

    </script>

</head>
<body>
    <div class="content">
        <h2>CONTAINER RE-USE FORM</h2>
        <div id="header">
            <div id="firstPart"><p>To:</p></div>
            <div id="secondPart">
                <p>A.P.Moller c/0 A.P.M&empty;ller - Maersk A/S</p>
                <p>Esplanaden 50 DK - 1098 Copenhagen</p>
                <p>As owners and/or chartwrers of the S.S./M.V.  ............................</p>
                <p>FROM: AS AGENT D.O.O.</p>
                <span>(hereafter referred to as Contractor)</span>
            </div>
        </div>
        <br />
        <div id="middle">
            <p>
                Whereas the term "container" shall in this Form mean, but is not limited to, any container including reefer
                containers, van or box used by the ML for the carriage of goods, merchandise and cargo of any size, weight or
                dimensions;<br />
                Whereas the term "Inspection/Pre Trip Inspection" shall in this Form mean the inspection normally carried out by
                ML on empty containers before release to customers, in order to ensure that a container is fit for carriage of goods;<br />
                WHEREAS the Contractor has a need to re-use container received from ML containing cargo, for re-stuffing and
                exporting form time to time, without said containers being returned to ML for Inspection, Contractor shall have
                such a right provided this Form is signed on the conditions as follows:
            </p>
            <p>
                1.<span class="sp">
                    Contractor hereby acknowledges that in those cases where a container released to Contractor for un-
                    stuffing, is re-used by Contractor for new cargo, ML have been deprived of its possibility to perform Inspection/Pre
                    Trip Inspection on said container.
                </span>
            </p>
            <p>
                2.<span class="sp">
                    Contractor hereby agrees that for those instances, it shall automatically be assumed that the container
                    was fit for carriage of goods when gated out for un-stuffing, and save where Contractor proves that the container
                    was still sound and fit for use when delivered back to ML for export, it shall be assumed that any damage must
                    have occurred before or during stuffing by Contractor for export.
                </span>
            </p>
            <p>
                3.<span class="sp">
                    Contractor has a duty to inspect Containers before packing them and the use of Containers shall be prima
                    facie evidence of their being sound and suitable for use, wherefore ML shall have no liability whatsoever for any
                    damage arisen directly or indirectly from such damage.
                </span>
            </p>
            <p>
                3.<span class="sp">
                    Should such a claim raise, Contractor hereby agrees and undertakes to indemnify and hold harmless ML
                    for any and all claims arising from such damage.
                </span>
            </p>
        </div>
        <div id="bottom">
            <div class="di">
                <label>Container number</label><input id="container" type="text" style="margin-left:10px;"/>
            </div><br />
            <div class="di">
                <label>Booking number</label><input id="booking" type="text" style="margin-left:18px;"/>
            </div><br />
            <div class="di">
                <label>Date / Location</label><input type="text" id="date" />
            </div>
            <div id="special">
                <label id="lbl">
                    Company Stamp /<br />
                    Authorised Signature
                </label><img style="width:150px;height:100px;" src="~/Images/signature.jpg" />
            </div>

            <div id="buttons">


                <div id="l">
                    <input class="btn" id="printpagebutton" type="button" value="Štampaj" onclick="printpage()" />
                    <button type="button" id="btnNazad" class="btn" onclick="location.href='@Url.Action("Index","Documentation")'">Nazad</button>
                    <button type="button" class="btn" id="pdfSave" onclick="location.href='@Url.Action("BinaryTest", "DocumentForm")'">PDF</button>
                </div>
            </div>
        </div>

    </div>

</body>
</html>
