﻿@model IEnumerable<CommonLayer.UlaznaFakturaDTO>

@{
    ViewBag.Title = "GetAllInvoices";
}

<h2>GetAllInvoices</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NazivFakture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imevozara)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezimevozara)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datumprijema)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datumplacanja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iznos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Placeno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nazivpartnera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Predmet)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    using (Html.BeginForm("DeleteInvoice", "UlazneFakture", new { id = item.Id }))
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NazivFakture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imevozara)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezimevozara)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datumprijema)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datumplacanja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Iznos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Placeno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nazivpartnera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Predmet)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            <input type="submit" value="Delete" onclick="return confirm('Da li zelite da obrisete fakturu  @item.NazivFakture')" />
        </td>
    </tr>
    }
}
</table>
