﻿@model IEnumerable<CommonLayer.TroskoviDTO>

@{
    ViewBag.Title = "ListaTroskova";
}

<h2>ListaTroskova</h2>

<p>
    <button type="button" onclick="location.href='@Url.Action("KreirajTrosak", "Trosak")'">Kreiraj trosak</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Racun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datumprijema)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datumplacanja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iznos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Placeno)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    using (Html.BeginForm("DeleteCost", "Trosak", new { id = item.Id }))
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Racun)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datumprijema)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datumplacanja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Iznos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Placeno)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            <input type="submit" value="Delete" onclick="return confirm('Da li zelite da obrisete racun  @item.Racun')" />
        </td>
    </tr>
    }
}
</table>
