﻿@model IEnumerable<CommonLayer.PartnerPonudaDTO>

@{
    ViewBag.Title = "ListaPonuda";
}

<h2>ListaPonuda</h2>

<p>
    <button type="button" onclick="location.href='@Url.Action("KreirajPonudu","ParnterPonuda")'">Dodaj ponudu</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NazivPonude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nazivpartnera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    using (Html.BeginForm("DeleteOffer", "ParnterPonuda", new { id = item.Id }))
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NazivPonude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nazivpartnera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datum)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            <input type="submit" value="Delete" onclick="return confirm('Da li zelite da obrisete racun  @item.NazivPonude')" />
        </td>
    </tr>
    }
}
</table>
