﻿@model CommonLayer.ForeignOutgoingInvoiceDTO

@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/table1.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <title>PARTNERI</title>
</head>
<body>
    <h2 style="text-align:center; padding-right:210px;font-family:Calibri;">KREIRAJ INO IZLAZNU FAKTURU</h2>

    <div class="container" style="padding-left:400px;">

        @using (Html.BeginForm("CreateForeignInvoice", "ForeignOutgoingInvoice", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

      
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NumberOfOutgoingInvoice, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder ="Broj fakture..." } })
                        @Html.ValidationMessageFor(model => model.NumberOfOutgoingInvoice, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DateOfReceipt, new { htmlAttributes = new { @class = "form-control", @type = "date", @style = "font-family:Calibri;" } })
                        @Html.ValidationMessageFor(model => model.DateOfReceipt, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AmountInEUR, new { htmlAttributes = new { @class = "form-control", placeholder="Iznos u eurima...", @style = "font-family:Calibri;" } })
                        @Html.ValidationMessageFor(model => model.AmountInEUR, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ValueDate, new { htmlAttributes = new { @class = "form-control", @type = "date", @style = "font-family:Calibri;" } })
                        @Html.ValidationMessageFor(model => model.ValueDate, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PaymentDate, new { htmlAttributes = new { @class = "form-control", @type="date", @style = "font-family:Calibri;" } })
                        @Html.ValidationMessageFor(model => model.PaymentDate, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Paid, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                        @Html.ValidationMessageFor(model => model.Paid, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder ="Komentar..." } })
                        @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.BookId, new SelectList(Model.BookCollection, "BookId", "ObjectBook"), "Izaberi klijenta", new { @class="klasa", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.ClientId, new SelectList(Model.ClientCollection, "ClientId", "NameOfClientCompany"), "Izaberi klijenta", new { @class = "klasa", @style = "font-family:Calibri;" })
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" style="font-family:Calibri" onclick="location.href='@Url.Action("InoOutInvoicesList", "ForeignOutgoingInvoice")'">Nazad</button>
                        <input type="submit" style="font-family:Calibri" value="Kreiraj" class="create-btn" />
                    </div>
                </div>
            </div>
        }
    </div>
    
</body>
</html>

