﻿@model CommonLayer.ForeignOutgoingInvoiceDTO

@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/table1.css" rel="stylesheet" />
    <title>PARTNERI</title>
</head>
<body>
    <h2 style="text-align:center; padding-right:230px;font-family:Calibri;">IZMENI PODATKE O INO IZLAZNOJ FAKTURI</h2>
    <div class="container" style="padding-left:350px;">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ForeignOutgoingInvoiceId, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                        @Html.ValidationMessageFor(model => model.ForeignOutgoingInvoiceId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NumberOfOutgoingInvoice, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NumberOfOutgoingInvoice, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.NumberOfOutgoingInvoice, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DateOfReceipt, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DateOfReceipt, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                        @Html.ValidationMessageFor(model => model.DateOfReceipt, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.AmountInEUR, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AmountInEUR, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                        @Html.ValidationMessageFor(model => model.AmountInEUR, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ValueDate, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ValueDate, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                        @Html.ValidationMessageFor(model => model.ValueDate, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PaymentDate, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PaymentDate, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                        @Html.ValidationMessageFor(model => model.PaymentDate, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>



                <div class="form-group">
                    @Html.LabelFor(model => model.Paid, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Paid, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                        @Html.ValidationMessageFor(model => model.Paid, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                        @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.BookId, new SelectList(Model.BookCollection, "BookId", "ObjectBook"), "Izaberi klijenta", new { @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.ClientId, new SelectList(Model.ClientCollection, "ClientId", "NameOfClientCompany"), "Izaberi klijenta", new { @style = "font-family:Calibri;" })
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" style="font-family:Calibri" onclick="location.href='@Url.Action("InoOutInvoicesList11", "ForeignOutgoingInvoice")'">Nazad</button>
                        <input type="submit" style="font-family:Calibri" value="Sačuvaj" class="create-btn" />
                    </div>
                </div>
            </div>
        }

    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>
