﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<CommonLayer.ForeignOutgoingInvoiceDTO>

@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/cost.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/search.js"></script>
    <title>IZLAZNE INO FAKTURA</title>
</head>
<body>
    <div id="login-div" class="table-responsive">
        <h2 style="font-family:Calibri;margin-top:50px;">LISTA INO IZLAZNIH FAKTURA</h2>
        <br />
        @using (Html.BeginForm("InoOutInvoicesList", "ForeignOutgoingInvoice", FormMethod.Get))
        {
            <div align="right" style="margin-bottom: 1em;">
                <input type="text" id="myInput" class="form-control" style="font-family:Calibri" onkeyup="myFunction()" placeholder="Pretraži..">
            </div>

            <div class="blok">
                <label style="padding-left:25px;">Od:</label>
                @Html.TextBox("dat1", "DateFrom", new { @class = "InsertDate", @type = "date", @style = "border-radius:15px; border:none; margin-top:10px; height:25px; padding-left:8px;font-family:Calibri;" })
                <label>Do:</label>
                @Html.TextBox("dat2", "DateTo", new { @class = "InsertDate", @type = "date", @style = "border-radius:15px; border:none; margin-top:10px; height:25px; padding-left:8px;font-family:Calibri;" })

                <button type="submit"><img src="~/Images/Search.png" style="width:15px; height:15px;" /></button>
            </div>
        }
        <table id="myTable">
            <tr style="border:1px groove; text-align: center">
                <th class="table-bordered1" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().NumberOfOutgoingInvoice)
                </th>
                <th class="table-bordered2" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().ClientName)
                </th>
                <th class="table-bordered1" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().ClientPlace)
                </th>
                <th class="table-bordered2" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().DateOfReceipt)
                </th>
                <th class="table-bordered1" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().AmountInEUR)
                </th>
                <th class="table-bordered2" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().ValueDate)
                </th>
                <th class="table-bordered1" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().PaymentDate)
                </th>
                <th class="table-bordered1" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().Paid)
                </th>
                <th class="table-bordered2" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().Comment)
                </th>
                <th class="table-bordered1" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().ObjectBook)
                </th>
                <th class="table-bordered1"></th>
            </tr>

            @foreach (var item in Model)
            {
                using (Html.BeginForm("DeleteInvoice", "ForeignOutgoingInvoice", new { id = item.ForeignOutgoingInvoiceId }))
                {
                    <tr>
                        <td class="table-bordered3" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.NumberOfOutgoingInvoice)
                        </td>
                        <td class="table-bordered" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.ClientName)
                        </td>
                        <td class="table-bordered3" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.ClientPlace)
                        </td>
                        <td class="table-bordered" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.DateOfReceipt)
                        </td>
                        <td class="table-bordered" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.AmountInEUR)
                        </td>
                        <td class="table-bordered3" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.ValueDate)
                        </td>
                        <td class="table-bordered" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.PaymentDate)
                        </td>
                        <td class="table-bordered3" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.Paid)
                        </td>
                        <td class="table-bordered3" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.Comment)
                        </td>
                        <td class="table-bordered" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.ObjectBook)
                        </td>
                        <td class="table-bordered3" id="bla">
                            <a href="@Url.Action("Edit", "ForeignOutgoingInvoice", new { id = item.ForeignOutgoingInvoiceId })">
                                <img src="~/Images/edit.png" style="float:left;padding-left:5px" />
                            </a>
                            <input type="image" src="~/Images/delete.png" style="float:right; padding-right:5px;" onclick="return confirm('Da li zelite da obrisete  @item.NumberOfOutgoingInvoice?')" />
                        </td>
                    </tr>
                }
            }
        </table>
        <div class="paginacija">
            @Html.PagedListPager(Model, page => Url.Action("InoOutInvoicesList", new { page, @class = "paginacija", dat1 = Request.QueryString["dat1"], dat2 = Request.QueryString["dat2"] }),
       new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
        </div>
        <button id="button-add" type="button" style="font-family:Calibri" onclick="location.href='@Url.Action("CreateForeignInvoice","ForeignOutgoingInvoice")'">Dodaj</button>

    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>