﻿@model CommonLayer.StandardBookingNumberDTO

@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/table1.css" rel="stylesheet" />
    <title>ADDRESS BOOK</title>
</head>
<body>
    <h2 style="padding-left:550px;font-family:Calibri;">IZMENI STANDARD BOOKING BROJ</h2>
    <div class="container" style="padding-left:350px;">

        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.StandardBookingNumberId)

                <div class="form-group">

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.StandardBookingNumberId, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StandardNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.StandardNumber, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.StandardNumber, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Distance, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Distance, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                        @Html.ValidationMessageFor(model => model.Distance, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Container, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Container, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                        @Html.ValidationMessageFor(model => model.Container, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                    </div>
                </div>





                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" style="font-family:Calibri;" onclick="location.href='@Url.Action("StandardList11", "StandardBookingNumber")'">Nazad</button>
                        <input type="submit" style="font-family:Calibri;" value="Sačuvaj" class="create-btn" />
                    </div>
                </div>
            </div>
        }
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>
