﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<CommonLayer.StandardBookingNumberDTO>

@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/cost.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/search.js"></script>
    <title>STANDARD BOOKING NUMBER</title>
</head>
<body>
    <div id="login-div" class="table-responsive">
        <h2 style="font-family:Calibri;margin-top:50px;">STANDARD BOOKING NUMBER</h2>
        <br />
        @using (Html.BeginForm("StandardList11", "StandardBookingNumber", FormMethod.Get))
        {
            <div class="dugmici" style="float:right;padding-right:70px;">
                <button type="button" style="width:30px; height:30px;border-radius:30px; color:white; background-color:#64B2D4;" onclick="location.href='@Url.Action("Index", "Book")'">KN</button>
            </div>
            <div align="right" style="margin-bottom: 1em;">
                <input type="text" id="myInput" class="form-control" style="font-family:Calibri;" onkeyup="myFunction()" placeholder="Pretraži..">
            </div>
        }
        <table id="myTable">
            <tr style="border:1px groove; text-align: center">
                <th class="table-bordered1" style="font-family:Calibri;">
                    @Html.DisplayNameFor(model => model.First().StandardNumber)
                </th>
                <th class="table-bordered2" style="font-family:Calibri;">
                    @Html.DisplayNameFor(model => model.First().Distance)
                </th>
                <th class="table-bordered1" style="font-family:Calibri;">
                    @Html.DisplayNameFor(model => model.First().Container)
                </th>

                <th class="table-bordered2"></th>
            </tr>

            @foreach (var item in Model)
            {
                using (Html.BeginForm("DeleteStandardBookingNumber11", "StandardBookingNumber", new { id = item.StandardBookingNumberId }))
                {
                    <tr>
                        <td class="table-bordered3" style="font-family:Calibri;">
                            @Html.DisplayFor(modelItem => item.StandardNumber)
                        </td>
                        <td class="table-bordered" style="font-family:Calibri;">
                            @Html.DisplayFor(modelItem => item.Distance)
                        </td>
                        <td class="table-bordered3" style="font-family:Calibri;">
                            @Html.DisplayFor(modelItem => item.Container)
                        </td>

                        <td class="table-bordered" id="bla">
                            <a href="@Url.Action("Edit11", "StandardBookingNumber", new { id = item.StandardBookingNumberId })">
                                <img src="~/Images/edit.png" style="float:left; padding-right:5px; width:25px;" />
                            </a>
                            <input style="width:25px;" type="image" src="~/Images/delete.png" onclick="return confirm('Da li zelite da izbrisete standard broj @item.StandardNumber ?')" />
                        </td>
                    </tr>
                }
            }
        </table>
        <div class="paginacija">
            @Html.PagedListPager(Model, page => Url.Action("StandardList11", new { page, @class = "paginacija" }),
            new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
        </div>
        <button id="button-add" type="button" style="font-family:Calibri;" onclick="location.href='@Url.Action("AddStandardBookingNumber11", "StandardBookingNumber")'">Dodaj</button>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>