﻿@model IEnumerable<CommonLayer.PartnerDTO>

@{
    ViewBag.Title = "ListaPartnera";
}

<h2>ListaPartnera</h2>

<p>
    <button type="button" onclick="location.href='@Url.Action("KreirajPartnera", "Partner")'">Dodaj partnera</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PartnerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pib)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drzava)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    using (Html.BeginForm("DeletePartner", "Partner", new { id = item.PartnerId }))
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PartnerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pib)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Drzava)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PartnerId }) |
            <input type="submit" value="Delete" onclick="return confirm('Da li zelite da obrisete partnera  @item.Ime @item.Prezime')" />
        </td>
    </tr>
    }
}

</table>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
