﻿@model CommonLayer.ASABookingNumberDTO

@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/table1.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <title>ASA BOOKING BROJ</title>
</head>
<body>

    <div class="container" style="padding-left:350px;">
        <h2 style="font-family:Calibri">KREIRAJ ASA BROJ</h2>
        <br />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @*<div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AsaNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Asa booking broj..." } })

                        </div>
                    </div>*@

                <div class="form-group">

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Distance, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri", placeholder = "Relacija..." } })
                        @Html.ValidationMessageFor(model => model.Distance, "", new { @class = "text-danger", @style = "font-family:Calibri" })
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Container, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri", placeholder = "Kontejner..." } })
                        @Html.ValidationMessageFor(model => model.Container, "", new { @class = "text-danger", @style = "font-family:Calibri" })
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" style="font-family:Calibri" onclick="location.href='@Url.Action("ASAList11", "AsaBookingNumber")'">Nazad</button>
                        <input type="submit" style="font-family:Calibri" value="Kreiraj" class="create-btn" />
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>