﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<CommonLayer.ASABookingNumberDTO>

@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/cost.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/search.js"></script>
    <title>KORISNICI</title>
</head>
<body>
    <div id="login-div">
        <h1 style="font-family:Calibri;margin-top:50px;">ASA BOOKING BROJEVI</h1>

        @using (Html.BeginForm("ASAList11", "AsaBookingNumber", FormMethod.Get))
        {
            <div class="dugmici" style="float:right;padding-right:70px;">
                <button type="button" style="width:30px; height:30px;border-radius:30px; color:white; background-color:#64B2D4;" onclick="location.href='@Url.Action("Index", "Book")'">KN</button>
            </div>
            <div align="right" style="margin-bottom: 1em;">
                <input type="text" id="myInput" class="form-control" onkeyup="myFunction()" style="font-family:Calibri" placeholder="Pretraži...">
            </div>
        }
        <table id="myTable">
            <tr style="border:1px groove; text-align: center">
                <th class="table-bordered1" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().AsaNumber)
                </th>
                <th class="table-bordered2" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().Distance)
                </th>
                <th class="table-bordered1" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().Container)
                </th>
                <th class="table-bordered2"></th>
            </tr>

            @foreach (var item in Model)
            {
                using (Html.BeginForm("DeleteAsaBookingNumber11", "AsaBookingNumber", new { id = item.AsaBookingNumberId }))
                {
                    <tr>
                        <td class="table-bordered" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.AsaNumber)
                        </td>
                        <td class="table-bordered" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.Distance)
                        </td>
                        <td class="table-bordered" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.Container)
                        </td>
                        <td class="table-bordered" id="tra">
                            <a href="@Url.Action("Edit", "AsaBookingNumber", new { id = item.AsaBookingNumberId })">
                                <img src="~/Images/edit.png" style="float:left; padding-right:5px; width:25px;" />
                            </a>
                            <input style="width:25px;" type="image" src="~/Images/delete.png" onclick="return confirm('Da li zelite da izbrisete broj @item.AsaNumber')" />
                        </td>
                    </tr>
                }
            }
        </table>
        <div class="paginacija">
            @Html.PagedListPager(Model, page => Url.Action("ASAList11", new { page, @class = "paginacija" }),
            new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
        </div>
        <button id="button-add" type="button" style="font-family:Calibri" onclick="location.href='@Url.Action("AddAsaBookingNumber11","AsaBookingNumber")'">Dodaj</button>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
