﻿@model CommonLayer.ASABookingNumberDTO

@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/table1.css" rel="stylesheet" />
    <title>PARTNERI</title>
</head>
<body>
    <h2 style="padding-left:570px;">IMENI PODATKE O ASA BROJU</h2>
    <div class="container" style="padding-left:350px;">


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @*@Html.LabelFor(model => model.AsaBookingNumberId, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AsaBookingNumberId, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri" } })
                        @Html.ValidationMessageFor(model => model.AsaBookingNumberId, "", new { @class = "text-danger", @style = "font-family:Calibri" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AsaNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AsaNumber, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.AsaNumber, "", new { @class = "text-danger", @style = "font-family:Calibri" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Distance, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Distance, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri" } })
                        @Html.ValidationMessageFor(model => model.Distance, "", new { @class = "text-danger", @style = "font-family:Calibri" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Container, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Container, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri" } })
                        @Html.ValidationMessageFor(model => model.Container, "", new { @class = "text-danger", @style = "font-family:Calibri" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" style="font-family:Calibri;" onclick="location.href='@Url.Action("ASAList11", "AsaBookingNumber")'">Nazad</button>
                        <input type="submit" style="font-family:Calibri;" value="Sačuvaj" class="create-btn" />
                    </div>
                </div>
            </div>
        }

    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>

