﻿@model IEnumerable<CommonLayer.KlijentDTO>

@{
    ViewBag.Title = "ListaKlijenata";
}

<h2>ListaKlijenata</h2>

<p>
    <button type="button" onclick="location.href='@Url.Action("KreirajKlijenta", "Klijent")'">Dodaj klijenta</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KlijentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pib)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NazivFirme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imevlasnika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezimevlasnika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drzava)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    using (Html.BeginForm("DeleteClient", "Klijent", new { id = item.KlijentId }))
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KlijentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pib)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NazivFirme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imevlasnika)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezimevlasnika)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Drzava)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.KlijentId }) 
            <input type="submit" value="Delete" onclick="return confirm('Da li zelite da obrisete klijenta  @item.Imevlasnika @item.Prezimevlasnika')" />
        </td>
    </tr>
    }
}

</table>
