﻿
@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <link href="~/Style/dokumentacija.css" rel="stylesheet" />
    <title>KNJIGA NALOGA</title>

</head>
<body>
    <div class="container">

        <a href="@Url.Action("Invoice", "DocumentForm")">
            <img class="slika" src="~/Images/fromadomacafaktura.png" />
        </a>
        <a href="@Url.Action("OutgoingInvoice", "DocumentForm")">
            <img class="slika" src="~/Images/formainofaktura.png" />
        </a>

        <a href="@Url.Action("Offer", "DocumentForm")">
            <img class="slika" src="~/Images/domacaponuda.png" />
        </a>
        <a href="@Url.Action("ForeignOffer", "DocumentForm")">
            <img class="slika" src="~/Images/inoponuda.png" />
        </a>
        <a href="@Url.Action("REUSEFORM", "DocumentForm")">
            <img class="slika" src="~/Images/reuseform.png" />
        </a>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

