﻿@model CommonLayer.ClientDTO

@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
  
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/table1.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <title>KLIJENTI</title>
</head>
<body>

    <div class="container" style="padding-left:450px">
        <h2 style="font-family:Calibri;">KREIRAJ KLIJENTA</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.PIB, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Pib..." } })
                    @Html.ValidationMessageFor(model => model.PIB, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.NameOfClientCompany, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Naziv firme..." } })
                    @Html.ValidationMessageFor(model => model.NameOfClientCompany, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>



            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Adresa..." } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>
            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Zip code..." } })
                    @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Grad..." } })
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>
            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Email..." } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Telefon..." } })
                    @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Država..." } })
                    @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" style="font-family:Calibri;" onclick="location.href='@Url.Action("ClientList", "Client")'">Nazad</button>
                    <input type="submit" style="font-family:Calibri;" value="Kreiraj" class="create-btn" />
                </div>
            </div>
        </div>
        }
    </div>

</body>
</html>