﻿@model CommonLayer.ShipperOfferDTO

@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/table1.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <title>PARTNERI</title>
</head>
<body>
    <h2 style="text-align:center; padding-right:210px;font-family:Calibri;">KREIRAJ PONUDU</h2>

    <div class="container" style="padding-left:400px;">

        @using (Html.BeginForm("CreateShipperOffer11", "ShipperOffer", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ShipperOfferName, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Ponuda..." } })
                    @Html.ValidationMessageFor(model => model.ShipperOfferName, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Opis..." } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Iznos..." } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @type = "date", @style = "font-family:Calibri;" } })
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "E-mail..." } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control", placeholder = "Telefon...", @style = "font-family:Calibri;" } })
                    @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Distance, new { htmlAttributes = new { @class = "form-control", placeholder = "Relacija...", @style = "font-family:Calibri;" } })
                    @Html.ValidationMessageFor(model => model.Distance, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.ShipperId, new SelectList(Model.ShipperCollection, "ShipperId", "CompanyName"), "Izaberi klijenta", new { @class = "klasa", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.ClientOfferId, new SelectList(Model.ClientOffersDTO, "ClientOfferId", "OffersName"), "Izaberi klijent ponudu", new { @class = "klasa", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" style="font-family:Calibri;" onclick="location.href='@Url.Action("ShipperOfferList11", "ShipperOffer")'">Nazad</button>
                    <input type="submit" style="font-family:Calibri;" value="Kreiraj" class="create-btn" />
                </div>
            </div>
        </div>
        }
    </div>

</body>
</html>
