﻿@model CommonLayer.ShipperOfferDTO

@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/table1.css" rel="stylesheet" />
    <title>PARTNERI</title>
</head>
<body>
    <h2 style="text-align:center; padding-right:230px;font-family:Calibri;">IZMENI PODATKE O PARTNER PONUDI</h2>
    <div class="container" style="padding-left:350px;">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.ShipperOfferId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ShipperOfferId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ShipperOfferName, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ShipperOfferName, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.ShipperOfferName, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "E-mail..." } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control", placeholder = "Telefon...", @style = "font-family:Calibri;" } })
                    @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Distance, new { htmlAttributes = new { @class = "form-control", placeholder = "Relacija...", @style = "font-family:Calibri;" } })
                    @Html.ValidationMessageFor(model => model.Distance, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.ShipperId, new SelectList(Model.ShipperCollection, "ShipperId", "CompanyName"), "Izaberi klijenta", new { @style = "font-family:Calibri;", @class = "klasa" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.ClientOfferId, new SelectList(Model.ClientOffersDTO, "ClientOfferId", "OffersName"), "Izaberi klijent ponudu", new { @class = "klasa", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" style="font-family:Calibri;" onclick="location.href='@Url.Action("ShipperOfferList11", "ShipperOffer")'">Nazad</button>
                    <input type="submit" style="font-family:Calibri;" value="Sačuvaj" class="create-btn" />
                </div>
            </div>
        </div>
        }

    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>

