﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<CommonLayer.ShipperOfferDTO>

@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
   
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/cost.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/search.js"></script>
    <title>PONUDE VOZARA</title>
</head>
<body>
    <div id="login-div" class="table-responsive">
        <h2 style="font-family:Calibri;margin-top:50px;">PONUDE VOZARA</h2>
        <br />
        @using (Html.BeginForm("ShipperOfferList", "ShipperOffer", FormMethod.Get))
        {
            <div align="right" style="margin-bottom: 1em;">
                <input type="text" id="myInput" class="form-control" style="font-family:Calibri;" onkeyup="myFunction()" placeholder="Pretraži..">
            </div>
        }
        <table id="myTable">
            <tr style="border:1px groove; text-align: center">
                <th class="table-bordered1" style="font-family:Calibri;">
                    @Html.DisplayNameFor(model => model.First().ShipperOfferName)
                </th>
                <th class="table-bordered2" style="font-family:Calibri;">
                    @Html.DisplayNameFor(model => model.First().ShipperName)
                </th>
                <th class="table-bordered1" style="font-family:Calibri;">
                    @Html.DisplayNameFor(model => model.First().Date)
                </th>
                <th class="table-bordered2" style="font-family:Calibri;">
                    @Html.DisplayNameFor(model => model.First().Description)
                </th>
                <th class="table-bordered1" style="font-family:Calibri;">
                    @Html.DisplayNameFor(model => model.First().Price)
                </th>
                <th class="table-bordered2" style="font-family:Calibri;">
                    @Html.DisplayNameFor(model => model.First().Email)
                </th>
                <th class="table-bordered2" style="font-family:Calibri;">
                    @Html.DisplayNameFor(model => model.First().Telephone)
                </th>
                <th class="table-bordered2" style="font-family:Calibri;">
                    @Html.DisplayNameFor(model => model.First().Distance)
                </th>
                <th class="table-bordered2" style="font-family:Calibri;">
                    @Html.DisplayNameFor(model => model.First().ClientOfferName)
                </th>
                <th class="table-bordered1"></th>
            </tr>

            @foreach (var item in Model)
            {
                using (Html.BeginForm("DeleteOffer", "ShipperOffer", new { id = item.ShipperOfferId }))
                {
            <tr>
                <td class="table-bordered3" style="font-family:Calibri;">
                    @Html.DisplayFor(modelItem => item.ShipperOfferName)
                </td>
                <td class="table-bordered" style="font-family:Calibri;">
                    @Html.DisplayFor(modelItem => item.ShipperName)
                </td>
                <td class="table-bordered3" style="font-family:Calibri;">
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td class="table-bordered" style="font-family:Calibri;">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="table-bordered3" style="font-family:Calibri;">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="table-bordered3" style="font-family:Calibri;">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="table-bordered3" style="font-family:Calibri;">
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td class="table-bordered3" style="font-family:Calibri;">
                    @Html.DisplayFor(modelItem => item.Distance)
                </td>
                <td class="table-bordered3" style="font-family:Calibri;">
                    @Html.DisplayFor(modelItem => item.ClientOfferName)
                </td>
                <td class="table-bordered3" id="bla">
                    <a href="@Url.Action("Edit", "ShipperOffer", new { id = item.ShipperOfferId })">
                        <img src="~/Images/edit.png" style="float:left;padding-left:5px" />
                    </a>
                    <input type="image" src="~/Images/delete.png" style="float:right; padding-right:5px;" onclick="return confirm('Da li zelite da obrisete nalog @item.ShipperOfferName?')" />
                </td>
            </tr>
                }
            }
        </table>
        <div class="paginacija">
            @Html.PagedListPager(Model, page => Url.Action("ShipperOfferList", new { page, @class = "paginacija" }),
       new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
        </div>
        <button id="button-add" type="button" style="font-family:Calibri;" onclick="location.href='@Url.Action("CreateShipperOffer","ShipperOffer")'">Dodaj nalog</button>

    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
