﻿@model IEnumerable<CommonLayer.KlijentPonudaDTO>

@{
    ViewBag.Title = "ListaKlijentPonuda";
}

<h2>ListaKlijentPonuda</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>    
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nazivponude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ASA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prihvaceno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nazivponudepartnera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nazivklijenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Predmet)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    using (Html.BeginForm("DeleteClientOffer", "KlijentPonuda", new { id = item.Id }))
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nazivponude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ASA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prihvaceno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nazivponudepartnera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nazivklijenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Predmet)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            <input type="submit" value="Delete" onclick="return confirm('Da li zelite da obrisete ponudu  @item.Nazivponude')" />
        </td>
    </tr>
    }
}
</table>
