﻿@model CommonLayer.ShipperDTO

@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/table1.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <title>PARTNERI</title>
</head>
<body style="font-family:Calibri">
    <h2 style="text-align:center; padding-right:210px;">KREIRAJ VOZARA</h2>

    <div class="container" style="padding-left:400px;">

        @using (Html.BeginForm("Create11", "Shipper", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Pib, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Pib..." } })
                    @Html.ValidationMessageFor(model => model.Pib, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Naziv firme..." } })
                    @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Adresa..." } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Email..." } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Zip code..." } })
                    @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Grad..." } })
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Telefon..." } })
                    @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Država..." } })
                    @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" style="font-family:Calibri;" onclick="location.href='@Url.Action("Shippers11", "Shipper")'">Nazad</button>
                    <input type="submit" style="font-family:Calibri;" value="Kreiraj" class="create-btn" />
                </div>
            </div>
        </div>
        }

    </div>

</body>
</html>

