﻿@model CommonLayer.DistanceTransportListDTO

@{
    ViewBag.Title = "DistanceTransportList11";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" initial-scale="1.0" />
    <link href="~/Style/cost.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/search.js"></script>
    <title>RELACIJA-TRANSPORT</title>
    <style>
        h3 {
            margin-top: 30px;
        }

        .table3 {
            margin-top: 10px;
            margin-bottom: 250px;
            width: 90%;
        }
    </style>
</head>
<body>
    <div id="bigSection">
        <div class="divSection">
            <h3>RELACIJA-TRANSPORT</h3>

            <table class="table3">
                <tr style="border:1px groove; text-align: center">
                    <th class="table-bordered1">RELACIJA</th>
                    <th class="table-bordered2">TRANSPORTNO SREDSTVO</th>
                </tr>
                @foreach (var ul in Model.DistanceTransportList)
                {
                    <tr>
                        <td class="table-bordered3">@ul.DistanceName</td>
                        <td class="table-bordered">@ul.TransportName</td>

                    </tr>
                }
            </table>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>