﻿@model CommonLayer.ShipperDTO

@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/table1.css" rel="stylesheet" />
    <title>PARTNERI</title>
</head>
<body>
    <h2 style="text-align:center; padding-right:260px;font-family:Calibri;">IZMENI PODATKE O VOZARU</h2>
    <div class="container" style="padding-left:350px;">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @*@Html.LabelFor(model => model.ShipperId, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ShipperId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ShipperId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Pib, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Pib, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                    @Html.ValidationMessageFor(model => model.Pib, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                    @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                    @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                    @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })
                    @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" style="font-family:Calibri;" onclick="location.href='@Url.Action("Shippers11", "Shipper")'">Nazad</button>
                    <input type="submit" style="font-family:Calibri;" value="Sačuvaj" class="create-btn" />
                </div>
            </div>
        </div>
        }
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>

