﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<CommonLayer.ShipperDTO>

@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/cost.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/search.js"></script>
    <title>KNJIGA NALOGA</title>
</head>
<body>
    <div id="login-div" class="table-responsive">
        <h2 style="font-family:Calibri;margin-top:50px;">LISTA VOZARA</h2>
        <br />

        @using (Html.BeginForm("Shippers", "Shipper", FormMethod.Get))
    {
        <div class="dugmici" style="float:right;padding-right:70px;">
            <button type="button" style="width:30px; height:30px;border-radius:30px; color:white; background-color:#64B2D4;" onclick="location.href='@Url.Action("Index", "DistanceTransport")'">R</button>
        </div>
        <div align="right" style="margin-bottom: 1em;">
            <input type="text" id="myInput" class="form-control" style="font-family:Calibri;" onkeyup="myFunction()" placeholder="Pretraži...">
        </div>
}
        <table id="myTable">
            <tr style="border:1px groove; text-align: center">
                <th class="table-bordered1" style="font-family:Calibri;">
                    @Html.DisplayNameFor(model => model.First().CompanyName)
                </th>
                <th class="table-bordered2" style="font-family:Calibri;">
                    @Html.DisplayNameFor(model => model.First().Pib)
                </th>
                <th class="table-bordered1" style="font-family:Calibri;">
                    @Html.DisplayNameFor(model => model.First().DistanceTransportName)
                </th>
                <th class="table-bordered2" style="font-family:Calibri;">
                    @Html.DisplayNameFor(model => model.First().Address)
                </th>
                <th class="table-bordered1" style="font-family:Calibri;">
                    @Html.DisplayNameFor(model => model.First().Email)
                </th>
                <th class="table-bordered2" style="font-family:Calibri;">
                    @Html.DisplayNameFor(model => model.First().Telephone)
                </th>
                <th class="table-bordered1" style="font-family:Calibri;">
                    @Html.DisplayNameFor(model => model.First().State)
                </th>
                <th class="table-bordered2" style="font-family:Calibri;">
                    @Html.DisplayNameFor(model => model.First().ZipCode)
                </th>
                <th class="table-bordered1" style="font-family:Calibri;">
                    @Html.DisplayNameFor(model => model.First().City)
                </th>
                <th class="table-bordered2"></th>
            </tr>

            @foreach (var item in Model)
        {
            using (Html.BeginForm("DeletePartner", "Shipper", new { id = item.ShipperId }))
            {
            <tr>
                <td class="table-bordered" style="font-family:Calibri;">
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td class="table-bordered3" style="font-family:Calibri;">
                    @Html.DisplayFor(modelItem => item.Pib)
                </td>
                <td class="table-bordered3" style="font-family:Calibri;">
                    @Html.ActionLink("Relacija-Transport", "DistanceTransportList", new { id = item.ShipperId })
                </td>
                <td class="table-bordered3" style="font-family:Calibri;">
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td class="table-bordered" style="font-family:Calibri;">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="table-bordered3" style="font-family:Calibri;">
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td class="table-bordered" style="font-family:Calibri;">
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td class="table-bordered3" style="font-family:Calibri;">
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td class="table-bordered" style="font-family:Calibri;">
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td class="table-bordered3" id="bla">
                    <a href="@Url.Action("Edit", "Shipper", new { id = item.ShipperId })">
                        <img src="~/Images/edit.png" style="float:left; padding-right:5px;" />
                    </a>
                    <input type="image" src="~/Images/delete.png" onclick="return confirm('Da li zelite da izbrisete partnera @item.CompanyName ')" />
                </td>
            </tr>
        }
    }
        </table>
        <div class="paginacija">
            @Html.PagedListPager(Model, page => Url.Action("Shippers", new { page, @class = "paginacija" }),
        new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
        </div>
        <button id="button-add" type="button" style="font-family:Calibri;" onclick="location.href='@Url.Action("Create", "Shipper")'">Dodaj</button>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>