﻿
@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <link href="~/Style/evidence.css" rel="stylesheet" />
    <title>KNJIGA NALOGA</title>

</head>
<body>

    <div class="container">

        <a href="@Url.Action("InputInvoices", "InputInvoice", null)">
            <img class="slikaa" src="~/Images/duf.png" />
        </a>
        <a href="@Url.Action("OutgoingInvoiceList", "OutgoingInvoice", null)">
            <img class="slikaa" src="~/Images/dif.png"/>
        </a>
        <a href="@Url.Action("ForeignInputInvoices", "ForeignInputInvoice", null)">
            <img class="slikaa" src="~/Images/iuf.png" />
        </a>
        <a href="@Url.Action("InoOutInvoicesList", "ForeignOutgoingInvoice", null)">
            <img class="slikaa" src="~/Images/iif.png" />
        </a>
        <a href="@Url.Action("ClientOfferList", "ClientOffer", null)">
            <img class="slikaa" src="~/Images/pk.png" />
        </a>
        <a href="@Url.Action("ShipperOfferList", "ShipperOffer", null)">
            <img class="slikaa" src="~/Images/pv.png" />
        </a>
        <a href="@Url.Action("CostList", "Cost", null)">
            <img class="slikaa" src="~/Images/tr.png" />
        </a>

    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

