﻿
@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <link href="~/Style/evidence.css" rel="stylesheet" />
    <title>KNJIGA NALOGA</title>

</head>
<body>

    <div class="container">

        <a href="@Url.Action("InputInvoices11", "InputInvoice", null)">
            <img class="slikaa" src="~/Images/duf.png" />
        </a>
        <a href="@Url.Action("OutgoingInvoiceList11", "OutgoingInvoice", null)">
            <img class="slikaa" src="~/Images/dif.png" />
        </a>
        <a href="@Url.Action("ForeignInputInvoices11", "ForeignInputInvoice", null)">
            <img class="slikaa" src="~/Images/iuf.png" />
        </a>
        <a href="@Url.Action("InoOutInvoicesList11", "ForeignOutgoingInvoice", null)">
            <img class="slikaa" src="~/Images/iif.png" />
        </a>
        <a href="@Url.Action("ClientOfferList11", "ClientOffer", null)">
            <img class="slikaa" src="~/Images/pk.png" />
        </a>
        <a href="@Url.Action("ShipperOfferList11", "ShipperOffer", null)">
            <img class="slikaa" src="~/Images/pv.png" />
        </a>
        <a href="@Url.Action("CostList11", "Cost", null)">
            <img class="slikaa" src="~/Images/tr.png" />
        </a>

    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

