﻿@model CommonLayer.DistanceTransportDTO

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/table1.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <title>DODAJ RELACIJU-TRANSPORT</title>
</head>
<body>
    <h2 style="text-align:center; padding-right:210px;font-family:Calibri;">KREIRAJ RELACIJU-TRANSPORT</h2>

    <div class="container" style="padding-left:400px;">

        @using (Html.BeginForm("Add", "DistanceTransport", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DistanceName, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Relacija...." } })
                        @Html.ValidationMessageFor(model => model.DistanceName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TransportName, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;", placeholder = "Vrsta transporta...." } })
                        @Html.ValidationMessageFor(model => model.TransportName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ShipperName, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-family:Calibri;" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.ShipperId, new SelectList(Model.ShipperCollection, "ShipperId", "CompanyName"), "Izaberi partnera", new { @class = "klasa", @style = "font-family:Calibri;" })

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" style="font-family:Calibri" onclick="location.href='@Url.Action("Index", "DistanceTransport")'">Nazad</button>
                        <input type="submit" value="Kreiraj" style="font-family:Calibri" class="create-btn" />
                    </div>
                </div>
            </div>
        }
    </div>

</body>
</html>