﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<CommonLayer.DistanceTransportDTO>

@{
    ViewBag.Title = "Index11";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/cost.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/search.js"></script>
    <title>RELACIJE-TRANSPORTNA SREDSTVA</title>
</head>
<body>
    <div id="login-div" class="table-responsive">
        <h2 style="font-family:Calibri;margin-top:50px;">LISTA RELACIJA I PREVOZNIH SREDSTAVA</h2>

        @using (Html.BeginForm("Index11", "DistanceTransport", FormMethod.Get))
        {
        <div class="dugmici" style="float:right;padding-right:70px;">
            <button type="button" style="width:30px; height:30px;border-radius:30px; color:white; background-color:#64B2D4;" onclick="location.href='@Url.Action("Shippers11", "Shipper")'">V</button>
        </div>
        <div align="right" style="margin-bottom: 1em;">
            <input type="text" id="myInput" class="form-control" onkeyup="myFunction()" style="font-family:Calibri" placeholder="Pretraži..">
        </div>

}

        <table id="myTable">
            <tr style="border:1px groove; background-color:lightgray; text-align: center">
                <th class="table-bordered1" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().ShipperName)
                </th>
                <th class="table-bordered1" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().DistanceName)
                </th>
                <th class="table-bordered2" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().TransportName)
                </th>


                <th class="table-bordered2"></th>
            </tr>

            @foreach (var item in Model)
        {
            using (Html.BeginForm("DeleteDistanceTransport11", "DistanceTransport", new { id = item.DtId }))
            {
                <tr>
                    <td class="table-bordered" style="font-family:Calibri">
                        @Html.DisplayFor(modelItem => item.ShipperName)
                    </td>
                    <td class="table-bordered3" style="font-family:Calibri">
                        @Html.DisplayFor(modelItem => item.DistanceName)
                    </td>
                    <td class="table-bordered" style="font-family:Calibri">
                        @Html.DisplayFor(modelItem => item.TransportName)
                    </td>


                    <td class="table-bordered3" style="font-family:Calibri;width:100px;">
                        <a href="@Url.Action("Edit11", "DistanceTransport", new { id = item.DtId })">
                            <img src="~/Images/edit.png" style="float:left;padding-right:5px" />
                        </a>

                        <input type="image" src="~/Images/delete.png" onclick="return confirm('Da li zelite da obrisete relaciju  @item.DtId')" />

                    </td>
                </tr>
        }
    }
        </table>
        <div class="paginacija">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @class = "paginacija" }),
                    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
        </div>
        <button id="button-add" style="font-family:Calibri" type="button" onclick="location.href='@Url.Action("Add11", "DistanceTransport")'">Dodaj</button>

    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
