﻿@model CommonLayer.AddressBookDTO

@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/table1.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <title>ADDRESS BOOK</title>
</head>
<body>

    <div class="container" style="padding-left:350px;">
        <h2 style="font-family:Calibri">KREIRAJ KONTAKT</h2>
        <br />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NameOfCompany, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri", placeholder = "Naziv kompanije..." } })
                        @Html.ValidationMessageFor(model => model.NameOfCompany, "", new { @class = "text-danger", @style = "font-family:Calibri" })
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri", placeholder = "Ime..." } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-family:Calibri" })
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri", placeholder = "Prezime..." } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger", @style = "font-family:Calibri" })
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri", placeholder = "E-mail..." } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", @style = "font-family:Calibri" })
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri", placeholder = "Telefon..." } })
                            @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger", @style = "font-family:Calibri" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" style="font-family:Calibri" onclick="location.href='@Url.Action("AddressBook11", "AddressBook")'">Nazad</button>
                        <input type="submit" style="font-family:Calibri" value="Kreiraj" class="create-btn" />
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>