﻿@model IEnumerable<CommonLayer.KorisnikDTO>
@{
    ViewBag.Title = "Prikazi";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        #login-div {
            margin: 0 10%;
            border: 1px groove;
            padding: 10px 10px;
        }

        .field-validation-error {
            color: red;
        }
    </style>
</head>
<body>
    <div id="login-div" class="table-responsive">
        <p>
           <button type="button" onclick="location.href='@Url.Action("Registracija","Korisnik")'">Dodaj korisnika</button> 
        </p>
        <table class="table">
            <tr style="border:1px groove; background-color:lightgray; text-align: center">
                <th class="table-bordered">
                    @Html.DisplayNameFor(model => model.KorisnikId)
                </th>
                <th class="table-bordered">
                    @Html.DisplayNameFor(model => model.Ime)
                </th>
                <th class="table-bordered">
                    @Html.DisplayNameFor(model => model.Prezime)
                </th>
                <th class="table-bordered">
                    @Html.DisplayNameFor(model => model.Adresa)
                </th>
                <th class="table-bordered">
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th class="table-bordered">
                    @Html.DisplayNameFor(model => model.Telefon)
                </th>
                <th class="table-bordered">
                    @Html.DisplayNameFor(model => model.Korisnickoime)
                </th>
                <th class="table-bordered">
                    @Html.DisplayNameFor(model => model.Lozinka)
                </th>
                <th class="table-bordered">
                    @Html.DisplayNameFor(model => model.Uloga)
                </th>

                <th class="table-bordered"></th>
            </tr>

            @foreach (var item in Model)
            {
                using (Html.BeginForm("DeleteUser", "Korisnik", new { id = item.KorisnikId }))
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.KorisnikId)
                    </td>
                    <td class="table-bordered">
                        @Html.DisplayFor(modelItem => item.Ime)
                    </td>
                    <td class="table-bordered">
                        @Html.DisplayFor(modelItem => item.Prezime)
                    </td>
                    <td class="table-bordered">
                        @Html.DisplayFor(modelItem => item.Adresa)
                    </td>
                    <td class="table-bordered">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td class="table-bordered">
                        @Html.DisplayFor(modelItem => item.Telefon)
                    </td>
                    <td class="table-bordered">
                        @Html.DisplayFor(modelItem => item.Korisnickoime)
                    </td>
                    <td class="table-bordered">
                        @Html.DisplayFor(modelItem => item.Lozinka)
                    </td>
                    <td class="table-bordered">
                        @Html.DisplayFor(modelItem => item.Uloga)
                    </td>

                    <td class="table-bordered">
                        @Html.ActionLink("Edit", "Edit", new { id = item.KorisnikId }) |
                        
                            <input type="submit" value="Delete" onclick="return confirm('Da li zelite da obrisete korisnika  @item.Ime @item.Prezime')"/>
                        
                    </td>
                </tr>
                }
            }
        </table>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

