﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<CommonLayer.CostsDTO>

@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
  
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/cost.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/search.js"></script>
    <title>TROSKOVI</title>
</head>
<body>
    <div id="login-div" class="table-responsive">
        <h2 style="font-family:Calibri;margin-top:50px;">TROŠKOVI</h2>
        <br />
        @using (Html.BeginForm("CostList", " Cost", FormMethod.Get))
        {
            <div align="right" style="margin-bottom: 1em;">
                <input type="text" id="myInput" class="form-control" style="font-family:Calibri" onkeyup="myFunction()" placeholder="Pretraži..">
            </div>
        }
        <table id="myTable">
            <tr style="border:1px groove; text-align: center">
                <th class="table-bordered1" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().AccountNumber)
                </th>
                <th class="table-bordered2" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().DateOfReceipt)
                </th>
                <th class="table-bordered1" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().PaymentDate)
                </th>
                <th class="table-bordered2" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().Amount)
                </th>
                <th class="table-bordered1" style="font-family:Calibri">
                    @Html.DisplayNameFor(model => model.First().Paid)
                </th>
                <th class="table-bordered2"></th>
            </tr>

            @foreach (var item in Model)
            {
                using (Html.BeginForm("DeleteCost", "Cost", new { id = item.CostId }))
                {
                    <tr>
                        <td class="table-bordered3" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.AccountNumber)
                        </td>
                        <td class="table-bordered" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.DateOfReceipt)
                        </td>
                        <td class="table-bordered3" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.PaymentDate)
                        </td>
                        <td class="table-bordered" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td class="table-bordered3" style="font-family:Calibri">
                            @Html.DisplayFor(modelItem => item.Paid)
                        </td>
                        <td class="table-bordered" id="bla">
                            <a href="@Url.Action("Edit", "Cost", new { id = item.CostId })">
                                <img src="~/Images/edit.png" style="float:left; padding-right:5px; width:25px;" />
                            </a>
                            <input style="width:25px;" type="image" src="~/Images/delete.png" onclick="return confirm('Da li zelite da izbrisete  @item.AccountNumber ')" />
                        </td>
                    </tr>
                }
            }
        </table>
        <div class="paginacija">
            @Html.PagedListPager(Model, page => Url.Action("CostList", new { page, @class = "paginacija" }),
       new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
        </div>
        <button id="button-add" type="button" style="font-family:Calibri" onclick="location.href='@Url.Action("AddCost","Cost")'">Dodaj</button>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>