﻿@model CommonLayer.CostsDTO

@{
    ViewBag.Title = "ASagent";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
  
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/table1.css" rel="stylesheet" />
    <title>TROSKOVI</title>
</head>
<body>
    <h2 style="padding-left:580px;font-family:Calibri;">IZMENI  PODATKE O TROSKU</h2>
    <div class="container" style="padding-left:350px;">

        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">


                @Html.ValidationSummary(true, "", new { @class = "text-danger", @style = "font-family:Calibri;" })
                @Html.HiddenFor(model => model.CostId)
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CostId, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.AccountNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DateOfReceipt, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DateOfReceipt, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PaymentDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PaymentDate, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @style = "font-family:Calibri;" } })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Paid, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Paid)

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" style="font-family:Calibri;" onclick="location.href='@Url.Action("CostList11", "Cost")'">Nazad</button>
                        <input type="submit" style="font-family:Calibri;" value="Sačuvaj" class="create-btn" />
                    </div>
                </div>
            </div>
        }
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>